<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="variable-filter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="157"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="capacity_Steel[t]"/>
<entry key="2" type="xstring" value="capacity_Aluminium[t]"/>
<entry key="3" type="xstring" value="capacity_unit[t]"/>
<entry key="4" type="xstring" value="reserve_tin[t]"/>
<entry key="5" type="xstring" value="reserve_titanium[t]"/>
<entry key="6" type="xstring" value="reserve_platinum[t]"/>
<entry key="7" type="xstring" value="reserve_lead[t]"/>
<entry key="8" type="xstring" value="reserve_nickel[t]"/>
<entry key="9" type="xstring" value="reserve_manganese[t]"/>
<entry key="10" type="xstring" value="reserve_lithium[t]"/>
<entry key="11" type="xstring" value="reserve_indium[t]"/>
<entry key="12" type="xstring" value="reserve_graphite[t]"/>
<entry key="13" type="xstring" value="reserve_cobalt[t]"/>
<entry key="14" type="xstring" value="reserve_cadmium[t]"/>
<entry key="15" type="xstring" value="reserve_copper[t]"/>
<entry key="16" type="xstring" value="reserve_silver[t]"/>
<entry key="17" type="xstring" value="reserve_gold[t]"/>
<entry key="18" type="xstring" value="reserve_ree[t]"/>
<entry key="19" type="xstring" value="reserve_unit[t]"/>
<entry key="20" type="xstring" value="resource_tin[t]"/>
<entry key="21" type="xstring" value="resource_titanium[t]"/>
<entry key="22" type="xstring" value="resource_platinum[t]"/>
<entry key="23" type="xstring" value="resource_lead[t]"/>
<entry key="24" type="xstring" value="resource_nickel[t]"/>
<entry key="25" type="xstring" value="resource_lithium[t]"/>
<entry key="26" type="xstring" value="resource_indium[t]"/>
<entry key="27" type="xstring" value="resource_graphite[t]"/>
<entry key="28" type="xstring" value="resource_cobalt[t]"/>
<entry key="29" type="xstring" value="resource_cadmium[t]"/>
<entry key="30" type="xstring" value="resource_copper[t]"/>
<entry key="31" type="xstring" value="resource_silver[t]"/>
<entry key="32" type="xstring" value="resource_gold[t]"/>
<entry key="33" type="xstring" value="resource_ree[t]"/>
<entry key="34" type="xstring" value="resource_unit[t]"/>
<entry key="35" type="xstring" value="tv_ree[kg/unit]"/>
<entry key="36" type="xstring" value="tv_unit[kg/unit]"/>
<entry key="37" type="xstring" value="computer_ree[kg/unit]"/>
<entry key="38" type="xstring" value="computer_au[kg/unit]"/>
<entry key="39" type="xstring" value="computer_ag[kg/unit]"/>
<entry key="40" type="xstring" value="computer_ni[kg/unit]"/>
<entry key="41" type="xstring" value="computer_sn[kg/unit]"/>
<entry key="42" type="xstring" value="computer_unit[kg/unit]"/>
<entry key="43" type="xstring" value="phone_graphite[kg/unit]"/>
<entry key="44" type="xstring" value="phone_mn[kg/unit]"/>
<entry key="45" type="xstring" value="phone_ree[kg/unit]"/>
<entry key="46" type="xstring" value="phone_pla[kg/unit]"/>
<entry key="47" type="xstring" value="phone_co[kg/unit]"/>
<entry key="48" type="xstring" value="phone_au[kg/unit]"/>
<entry key="49" type="xstring" value="phone_ag[kg/unit]"/>
<entry key="50" type="xstring" value="phone_ni[kg/unit]"/>
<entry key="51" type="xstring" value="phone_unit[kg/unit]"/>
<entry key="52" type="xstring" value="battery_tech_drive[%]"/>
<entry key="53" type="xstring" value="battery_tech_ncm[%]"/>
<entry key="54" type="xstring" value="battery_tech_lms[%]"/>
<entry key="55" type="xstring" value="battery_tech_lfp[%]"/>
<entry key="56" type="xstring" value="battery_tech_nca[%]"/>
<entry key="57" type="xstring" value="battery_tech_unit[%]"/>
<entry key="58" type="xstring" value="windoffshore_ree[kg/MW]"/>
<entry key="59" type="xstring" value="windoffshore_unit[kg/MW]"/>
<entry key="60" type="xstring" value="windonshore_ree[kg/MW]"/>
<entry key="61" type="xstring" value="windonshore_unit[kg/MW]"/>
<entry key="62" type="xstring" value="pv_splitmin_thinfilm_te[kg/MW]"/>
<entry key="63" type="xstring" value="pv_splitmin_thinfilm_cd[kg/MW]"/>
<entry key="64" type="xstring" value="pv_splitmin_thinfilm_in[kg/MW]"/>
<entry key="65" type="xstring" value="pv_splitmin_csi_al[kg/MW]"/>
<entry key="66" type="xstring" value="pv_splitmin_csi_sn[kg/MW]"/>
<entry key="67" type="xstring" value="pv_splitmin_csi_pb[kg/MW]"/>
<entry key="68" type="xstring" value="pv_splitmin_csi_ag[kg/MW]"/>
<entry key="69" type="xstring" value="pv_splitmin_unit[kg/MW]"/>
<entry key="70" type="xstring" value="pv_tech_thinfilm[%]"/>
<entry key="71" type="xstring" value="pv_tech_csi[%]"/>
<entry key="72" type="xstring" value="pv_tech_unit[%]"/>
<entry key="73" type="xstring" value="pv_splitmin_csi_cu[kg/MW]"/>
<entry key="74" type="xstring" value="computer_cu[kg/unit]"/>
<entry key="75" type="xstring" value="phone_cu[kg/unit]"/>
<entry key="76" type="xstring" value="pv_splitmin_thinfilm_cu[kg/MW]"/>
<entry key="77" type="xstring" value="reserve_selenium 2[t]"/>
<entry key="78" type="xstring" value="resource_selenium 2[t]"/>
<entry key="79" type="xstring" value="phone_al[kg/unit]"/>
<entry key="80" type="xstring" value="phone_fe[kg/unit]"/>
<entry key="81" type="xstring" value="pv_splitmin_thinfilm_se[kg/MW]"/>
<entry key="82" type="xstring" value="pv_splitmin_thinfilm_ga[kg/MW]"/>
<entry key="83" type="xstring" value="pv_splitmin_csi_si[kg/MW]"/>
<entry key="84" type="xstring" value="fcv_battmin_drive_plat[kg/veh]"/>
<entry key="85" type="xstring" value="fcv_battmin_drive_ree[kg/veh]"/>
<entry key="86" type="xstring" value="fcv_battmin_drive_cu[kg/veh]"/>
<entry key="87" type="xstring" value="fcv_battmin_drive_fe[kg/veh]"/>
<entry key="88" type="xstring" value="fcv_battmin_ncm_cu[kg/veh]"/>
<entry key="89" type="xstring" value="fcv_battmin_ncm_graphite[kg/veh]"/>
<entry key="90" type="xstring" value="fcv_battmin_ncm_mn[kg/veh]"/>
<entry key="91" type="xstring" value="fcv_battmin_ncm_co[kg/veh]"/>
<entry key="92" type="xstring" value="fcv_battmin_ncm_ni[kg/veh]"/>
<entry key="93" type="xstring" value="fcv_battmin_ncm_li[kg/veh]"/>
<entry key="94" type="xstring" value="fcv_battmin_lms_ti[kg/veh]"/>
<entry key="95" type="xstring" value="fcv_battmin_lms_cu[kg/veh]"/>
<entry key="96" type="xstring" value="fcv_battmin_lms_mn[kg/veh]"/>
<entry key="97" type="xstring" value="fcv_battmin_lms_li[kg/veh]"/>
<entry key="98" type="xstring" value="fcv_battmin_lfp_cu[kg/veh]"/>
<entry key="99" type="xstring" value="fcv_battmin_lfp_graphite[kg/veh]"/>
<entry key="100" type="xstring" value="fcv_battmin_lfp_fe[kg/veh]"/>
<entry key="101" type="xstring" value="fcv_battmin_lfp_li[kg/veh]"/>
<entry key="102" type="xstring" value="fcv_battmin_nca_cu[kg/veh]"/>
<entry key="103" type="xstring" value="fcv_battmin_nca_graphite[kg/veh]"/>
<entry key="104" type="xstring" value="fcv_battmin_nca_al[kg/veh]"/>
<entry key="105" type="xstring" value="fcv_battmin_nca_co[kg/veh]"/>
<entry key="106" type="xstring" value="fcv_battmin_nca_ni[kg/veh]"/>
<entry key="107" type="xstring" value="fcv_battmin_nca_li[kg/veh]"/>
<entry key="108" type="xstring" value="fcv_battmin_unit[kg/veh]"/>
<entry key="109" type="xstring" value="phev_battmin_drive_ree[kg/veh]"/>
<entry key="110" type="xstring" value="phev_battmin_drive_cu[kg/veh]"/>
<entry key="111" type="xstring" value="phev_battmin_drive_fe[kg/veh]"/>
<entry key="112" type="xstring" value="phev_battmin_ncm_cu[kg/veh]"/>
<entry key="113" type="xstring" value="phev_battmin_ncm_graphite[kg/veh]"/>
<entry key="114" type="xstring" value="phev_battmin_ncm_mn[kg/veh]"/>
<entry key="115" type="xstring" value="phev_battmin_ncm_co[kg/veh]"/>
<entry key="116" type="xstring" value="phev_battmin_ncm_ni[kg/veh]"/>
<entry key="117" type="xstring" value="phev_battmin_ncm_li[kg/veh]"/>
<entry key="118" type="xstring" value="phev_battmin_lms_ti[kg/veh]"/>
<entry key="119" type="xstring" value="phev_battmin_lms_cu[kg/veh]"/>
<entry key="120" type="xstring" value="phev_battmin_lms_mn[kg/veh]"/>
<entry key="121" type="xstring" value="phev_battmin_lms_li[kg/veh]"/>
<entry key="122" type="xstring" value="phev_battmin_lfp_cu[kg/veh]"/>
<entry key="123" type="xstring" value="phev_battmin_lfp_graphite[kg/veh]"/>
<entry key="124" type="xstring" value="phev_battmin_lfp_fe[kg/veh]"/>
<entry key="125" type="xstring" value="phev_battmin_lfp_li[kg/veh]"/>
<entry key="126" type="xstring" value="phev_battmin_nca_cu[kg/veh]"/>
<entry key="127" type="xstring" value="phev_battmin_nca_graphite[kg/veh]"/>
<entry key="128" type="xstring" value="phev_battmin_nca_al[kg/veh]"/>
<entry key="129" type="xstring" value="phev_battmin_nca_co[kg/veh]"/>
<entry key="130" type="xstring" value="phev_battmin_nca_ni[kg/veh]"/>
<entry key="131" type="xstring" value="phev_battmin_nca_li[kg/veh]"/>
<entry key="132" type="xstring" value="phev_battmin_unit[kg/veh]"/>
<entry key="133" type="xstring" value="bev_battmin_drive_ree[kg/veh]"/>
<entry key="134" type="xstring" value="bev_battmin_drive_cu[kg/veh]"/>
<entry key="135" type="xstring" value="bev_battmin_drive_fe[kg/veh]"/>
<entry key="136" type="xstring" value="bev_battmin_ncm_cu[kg/veh]"/>
<entry key="137" type="xstring" value="bev_battmin_ncm_graphite[kg/veh]"/>
<entry key="138" type="xstring" value="bev_battmin_ncm_mn[kg/veh]"/>
<entry key="139" type="xstring" value="bev_battmin_ncm_co[kg/veh]"/>
<entry key="140" type="xstring" value="bev_battmin_ncm_ni[kg/veh]"/>
<entry key="141" type="xstring" value="bev_battmin_ncm_li[kg/veh]"/>
<entry key="142" type="xstring" value="bev_battmin_lms_ti[kg/veh]"/>
<entry key="143" type="xstring" value="bev_battmin_lms_cu[kg/veh]"/>
<entry key="144" type="xstring" value="bev_battmin_lms_mn[kg/veh]"/>
<entry key="145" type="xstring" value="bev_battmin_lms_li[kg/veh]"/>
<entry key="146" type="xstring" value="bev_battmin_lfp_cu[kg/veh]"/>
<entry key="147" type="xstring" value="bev_battmin_lfp_graphite[kg/veh]"/>
<entry key="148" type="xstring" value="bev_battmin_lfp_fe[kg/veh]"/>
<entry key="149" type="xstring" value="bev_battmin_lfp_li[kg/veh]"/>
<entry key="150" type="xstring" value="bev_battmin_nca_cu[kg/veh]"/>
<entry key="151" type="xstring" value="bev_battmin_nca_graphite[kg/veh]"/>
<entry key="152" type="xstring" value="bev_battmin_nca_al[kg/veh]"/>
<entry key="153" type="xstring" value="bev_battmin_nca_co[kg/veh]"/>
<entry key="154" type="xstring" value="bev_battmin_nca_ni[kg/veh]"/>
<entry key="155" type="xstring" value="bev_battmin_nca_li[kg/veh]"/>
<entry key="156" type="xstring" value="bev_battmin_unit[kg/veh]"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="291"/>
<entry key="0" type="xstring" value="baseyear"/>
<entry key="1" type="xstring" value="name"/>
<entry key="2" type="xstring" value="mod_tri"/>
<entry key="3" type="xstring" value="min_reserve_unit[Mt]"/>
<entry key="4" type="xstring" value="min_reserve_bauxite[Mt]"/>
<entry key="5" type="xstring" value="min_reserve_iron[Mt]"/>
<entry key="6" type="xstring" value="min_reserve_copper[Mt]"/>
<entry key="7" type="xstring" value="min_reserve_phosphate[Mt]"/>
<entry key="8" type="xstring" value="min_reserve_potash[Mt]"/>
<entry key="9" type="xstring" value="min_reserve_oil[Mt]"/>
<entry key="10" type="xstring" value="min_reserve_gas[Mt]"/>
<entry key="11" type="xstring" value="min_reserve_coal[Mt]"/>
<entry key="12" type="xstring" value="min_share_unit[%]"/>
<entry key="13" type="xstring" value="min_share_pv_csi[%]"/>
<entry key="14" type="xstring" value="min_share_pv_thinfilm[%]"/>
<entry key="15" type="xstring" value="min_trade_unit[%]"/>
<entry key="16" type="xstring" value="min_trade_energy-pv_dir[%]"/>
<entry key="17" type="xstring" value="min_trade_energy-off-wind_dir[%]"/>
<entry key="18" type="xstring" value="min_trade_energy-on-wind_dir[%]"/>
<entry key="19" type="xstring" value="min_trade_energy-hydro_dir[%]"/>
<entry key="20" type="xstring" value="min_trade_energy-nuclear_dir[%]"/>
<entry key="21" type="xstring" value="min_trade_energy-oil_dir[%]"/>
<entry key="22" type="xstring" value="min_trade_energy-coal_dir[%]"/>
<entry key="23" type="xstring" value="min_trade_energy-gas_dir[%]"/>
<entry key="24" type="xstring" value="min_trade_energy-geo_dir[%]"/>
<entry key="25" type="xstring" value="min_trade_energy-marine_dir[%]"/>
<entry key="26" type="xstring" value="min_trade_energy-csp_dir[%]"/>
<entry key="27" type="xstring" value="min_trade_storage-battery_dir[%]"/>
<entry key="28" type="xstring" value="min_trade_energy-pv_indir[%]"/>
<entry key="29" type="xstring" value="min_trade_storage-battery_indir[%]"/>
<entry key="30" type="xstring" value="min_trade_energy-pv_exp[%]"/>
<entry key="31" type="xstring" value="min_trade_energy-off-wind_exp[%]"/>
<entry key="32" type="xstring" value="min_trade_energy-on-wind_exp[%]"/>
<entry key="33" type="xstring" value="min_trade_transport-battery_dir[%]"/>
<entry key="34" type="xstring" value="min_trade_transport-battery_indir[%]"/>
<entry key="35" type="xstring" value="min_trade_electronics-battery_dir[%]"/>
<entry key="36" type="xstring" value="min_trade_electronics-battery_indir[%]"/>
<entry key="37" type="xstring" value="min_car_unit[kg/unit]"/>
<entry key="38" type="xstring" value="min_car_LDV-EV_steel[kg/unit]"/>
<entry key="39" type="xstring" value="min_car_LDV-FCEV_steel[kg/unit]"/>
<entry key="40" type="xstring" value="min_car_LDV-ICE_steel[kg/unit]"/>
<entry key="41" type="xstring" value="min_car_LDV-PHEV_steel[kg/unit]"/>
<entry key="42" type="xstring" value="min_car_LDV-EV_aluminium[kg/unit]"/>
<entry key="43" type="xstring" value="min_car_LDV-FCEV_aluminium[kg/unit]"/>
<entry key="44" type="xstring" value="min_car_LDV-ICE_aluminium[kg/unit]"/>
<entry key="45" type="xstring" value="min_car_LDV-PHEV_aluminium[kg/unit]"/>
<entry key="46" type="xstring" value="min_car_LDV-EV_copper[kg/unit]"/>
<entry key="47" type="xstring" value="min_car_LDV-FCEV_copper[kg/unit]"/>
<entry key="48" type="xstring" value="min_car_LDV-ICE_copper[kg/unit]"/>
<entry key="49" type="xstring" value="min_car_LDV-PHEV_copper[kg/unit]"/>
<entry key="50" type="xstring" value="min_car_LDV-EV_cobalt[kg/unit]"/>
<entry key="51" type="xstring" value="min_car_LDV-FCEV_cobalt[kg/unit]"/>
<entry key="52" type="xstring" value="min_car_LDV-ICE_cobalt[kg/unit]"/>
<entry key="53" type="xstring" value="min_car_LDV-PHEV_cobalt[kg/unit]"/>
<entry key="54" type="xstring" value="min_truck_unit[kg/unit]"/>
<entry key="55" type="xstring" value="min_truck_HDVL-ICE_steel[kg/unit]"/>
<entry key="56" type="xstring" value="min_truck_HDVL-FCEV_steel[kg/unit]"/>
<entry key="57" type="xstring" value="min_truck_HDVL-EV_steel[kg/unit]"/>
<entry key="58" type="xstring" value="min_truck_HDVL-PHEV_steel[kg/unit]"/>
<entry key="59" type="xstring" value="min_truck_HDVM-ICE_steel[kg/unit]"/>
<entry key="60" type="xstring" value="min_truck_HDVM-FCEV_steel[kg/unit]"/>
<entry key="61" type="xstring" value="min_truck_HDVM-EV_steel[kg/unit]"/>
<entry key="62" type="xstring" value="min_truck_HDVM-PHEV_steel[kg/unit]"/>
<entry key="63" type="xstring" value="min_truck_HDVH-ICE_steel[kg/unit]"/>
<entry key="64" type="xstring" value="min_truck_HDVH-FCEV_steel[kg/unit]"/>
<entry key="65" type="xstring" value="min_truck_HDVH-EV_steel[kg/unit]"/>
<entry key="66" type="xstring" value="min_truck_HDVH-PHEV_steel[kg/unit]"/>
<entry key="67" type="xstring" value="min_truck_HDVH-ICE_aluminium[kg/unit]"/>
<entry key="68" type="xstring" value="min_truck_HDVH-FCEV_aluminium[kg/unit]"/>
<entry key="69" type="xstring" value="min_truck_HDVH-EV_aluminium[kg/unit]"/>
<entry key="70" type="xstring" value="min_truck_HDVH-PHEV_aluminium[kg/unit]"/>
<entry key="71" type="xstring" value="min_truck_HDVL-ICE_aluminium[kg/unit]"/>
<entry key="72" type="xstring" value="min_truck_HDVL-FCEV_aluminium[kg/unit]"/>
<entry key="73" type="xstring" value="min_truck_HDVL-EV_aluminium[kg/unit]"/>
<entry key="74" type="xstring" value="min_truck_HDVL-PHEV_aluminium[kg/unit]"/>
<entry key="75" type="xstring" value="min_truck_HDVM-ICE_aluminium[kg/unit]"/>
<entry key="76" type="xstring" value="min_truck_HDVM-FCEV_aluminium[kg/unit]"/>
<entry key="77" type="xstring" value="min_truck_HDVM-EV_aluminium[kg/unit]"/>
<entry key="78" type="xstring" value="min_truck_HDVM-PHEV_aluminium[kg/unit]"/>
<entry key="79" type="xstring" value="min_truck_HDVL-ICE_copper[kg/unit]"/>
<entry key="80" type="xstring" value="min_truck_HDVL-FCEV_copper[kg/unit]"/>
<entry key="81" type="xstring" value="min_truck_HDVL-EV_copper[kg/unit]"/>
<entry key="82" type="xstring" value="min_truck_HDVL-PHEV_copper[kg/unit]"/>
<entry key="83" type="xstring" value="min_truck_HDVM-ICE_copper[kg/unit]"/>
<entry key="84" type="xstring" value="min_truck_HDVM-FCEV_copper[kg/unit]"/>
<entry key="85" type="xstring" value="min_truck_HDVM-EV_copper[kg/unit]"/>
<entry key="86" type="xstring" value="min_truck_HDVM-PHEV_copper[kg/unit]"/>
<entry key="87" type="xstring" value="min_truck_HDVH-ICE_copper[kg/unit]"/>
<entry key="88" type="xstring" value="min_truck_HDVH-FCEV_copper[kg/unit]"/>
<entry key="89" type="xstring" value="min_truck_HDVH-EV_copper[kg/unit]"/>
<entry key="90" type="xstring" value="min_truck_HDVH-PHEV_copper[kg/unit]"/>
<entry key="91" type="xstring" value="min_truck_HDVL-ICE_cobalt[kg/unit]"/>
<entry key="92" type="xstring" value="min_truck_HDVL-FCEV_cobalt[kg/unit]"/>
<entry key="93" type="xstring" value="min_truck_HDVL-EV_cobalt[kg/unit]"/>
<entry key="94" type="xstring" value="min_truck_HDVL-PHEV_cobalt[kg/unit]"/>
<entry key="95" type="xstring" value="min_truck_HDVM-ICE_cobalt[kg/unit]"/>
<entry key="96" type="xstring" value="min_truck_HDVM-FCEV_cobalt[kg/unit]"/>
<entry key="97" type="xstring" value="min_truck_HDVM-EV_cobalt[kg/unit]"/>
<entry key="98" type="xstring" value="min_truck_HDVM-PHEV_cobalt[kg/unit]"/>
<entry key="99" type="xstring" value="min_truck_HDVH-ICE_cobalt[kg/unit]"/>
<entry key="100" type="xstring" value="min_truck_HDVH-FCEV_cobalt[kg/unit]"/>
<entry key="101" type="xstring" value="min_vehicle_unit[kg/unit]"/>
<entry key="102" type="xstring" value="min_vehicle_bus-EV_steel[kg/unit]"/>
<entry key="103" type="xstring" value="min_vehicle_bus-FCEV_steel[kg/unit]"/>
<entry key="104" type="xstring" value="min_vehicle_bus-ICE_steel[kg/unit]"/>
<entry key="105" type="xstring" value="min_vehicle_bus-PHEV_steel[kg/unit]"/>
<entry key="106" type="xstring" value="min_vehicle_2W-ICE_steel[kg/unit]"/>
<entry key="107" type="xstring" value="min_vehicle_2W-FCEV_steel[kg/unit]"/>
<entry key="108" type="xstring" value="min_vehicle_2W-EV_steel[kg/unit]"/>
<entry key="109" type="xstring" value="min_vehicle_2W-PHEV_steel[kg/unit]"/>
<entry key="110" type="xstring" value="min_vehicle_bus-EV_aluminium[kg/unit]"/>
<entry key="111" type="xstring" value="min_vehicle_bus-FCEV_aluminium[kg/unit]"/>
<entry key="112" type="xstring" value="min_vehicle_bus-ICE_aluminium[kg/unit]"/>
<entry key="113" type="xstring" value="min_vehicle_bus-PHEV_aluminium[kg/unit]"/>
<entry key="114" type="xstring" value="min_vehicle_2W-ICE_aluminium[kg/unit]"/>
<entry key="115" type="xstring" value="min_vehicle_2W-FCEV_aluminium[kg/unit]"/>
<entry key="116" type="xstring" value="min_vehicle_2W-EV_aluminium[kg/unit]"/>
<entry key="117" type="xstring" value="min_vehicle_2W-PHEV_aluminium[kg/unit]"/>
<entry key="118" type="xstring" value="min_vehicle_bus-EV_copper[kg/unit]"/>
<entry key="119" type="xstring" value="min_vehicle_bus-FCEV_copper[kg/unit]"/>
<entry key="120" type="xstring" value="min_vehicle_bus-ICE_copper[kg/unit]"/>
<entry key="121" type="xstring" value="min_vehicle_bus-PHEV_copper[kg/unit]"/>
<entry key="122" type="xstring" value="min_vehicle_2W-ICE_copper[kg/unit]"/>
<entry key="123" type="xstring" value="min_vehicle_2W-FCEV_copper[kg/unit]"/>
<entry key="124" type="xstring" value="min_vehicle_2W-EV_copper[kg/unit]"/>
<entry key="125" type="xstring" value="min_vehicle_2W-PHEV_copper[kg/unit]"/>
<entry key="126" type="xstring" value="min_vehicle_other-ships_steel[kg/unit]"/>
<entry key="127" type="xstring" value="min_vehicle_other-trains_steel[kg/unit]"/>
<entry key="128" type="xstring" value="min_vehicle_other-subways_steel[kg/unit]"/>
<entry key="129" type="xstring" value="min_vehicle_other-planes_steel[kg/unit]"/>
<entry key="130" type="xstring" value="min_vehicle_other-ships_aluminium[kg/unit]"/>
<entry key="131" type="xstring" value="min_vehicle_other-trains_aluminium[kg/unit]"/>
<entry key="132" type="xstring" value="min_vehicle_other-subways_aluminium[kg/unit]"/>
<entry key="133" type="xstring" value="min_vehicle_other-planes_aluminium[kg/unit]"/>
<entry key="134" type="xstring" value="min_vehicle_other-ships_copper[kg/unit]"/>
<entry key="135" type="xstring" value="min_vehicle_other-trains_copper[kg/unit]"/>
<entry key="136" type="xstring" value="min_vehicle_other-subways_copper[kg/unit]"/>
<entry key="137" type="xstring" value="min_vehicle_other-planes_copper[kg/unit]"/>
<entry key="138" type="xstring" value="min_vehicle_bus-FCEV_cobalt[kg/unit]"/>
<entry key="139" type="xstring" value="min_vehicle_bus-ICE_cobalt[kg/unit]"/>
<entry key="140" type="xstring" value="min_vehicle_other-planes_cobalt[kg/unit]"/>
<entry key="141" type="xstring" value="min_infra_unit[kg/km]"/>
<entry key="142" type="xstring" value="min_infra_road_steel[kg/km]"/>
<entry key="143" type="xstring" value="min_infra_rail_steel[kg/km]"/>
<entry key="144" type="xstring" value="min_infra_trolley-cables_steel[kg/km]"/>
<entry key="145" type="xstring" value="min_infra_road_aluminium[kg/km]"/>
<entry key="146" type="xstring" value="min_infra_rail_aluminium[kg/km]"/>
<entry key="147" type="xstring" value="min_infra_trolley-cables_aluminium[kg/km]"/>
<entry key="148" type="xstring" value="min_infra_road_copper[kg/km]"/>
<entry key="149" type="xstring" value="min_infra_rail_copper[kg/km]"/>
<entry key="150" type="xstring" value="min_infra_trolley-cables_copper[kg/km]"/>
<entry key="151" type="xstring" value="min_infra_pipe_steel[kg/km]"/>
<entry key="152" type="xstring" value="min_energytech_unit[kg/GW]"/>
<entry key="153" type="xstring" value="min_energytech_energy-pv-csi_steel[kg/GW]"/>
<entry key="154" type="xstring" value="min_energytech_energy-pv-thinfilm_steel[kg/GW]"/>
<entry key="155" type="xstring" value="min_energytech_energy-csp_steel[kg/GW]"/>
<entry key="156" type="xstring" value="min_energytech_energy-on-wind_steel[kg/GW]"/>
<entry key="157" type="xstring" value="min_energytech_energy-off-wind_steel[kg/GW]"/>
<entry key="158" type="xstring" value="min_energytech_energy-hydro_steel[kg/GW]"/>
<entry key="159" type="xstring" value="min_energytech_energy-marine_steel[kg/GW]"/>
<entry key="160" type="xstring" value="min_energytech_energy-geo_steel[kg/GW]"/>
<entry key="161" type="xstring" value="min_energytech_energy-oil_steel[kg/GW]"/>
<entry key="162" type="xstring" value="min_energytech_energy-gas_steel[kg/GW]"/>
<entry key="163" type="xstring" value="min_energytech_energy-coal_steel[kg/GW]"/>
<entry key="164" type="xstring" value="min_energytech_energy-nuclear_steel[kg/GW]"/>
<entry key="165" type="xstring" value="min_energytech_energy-pv-csi_aluminium[kg/GW]"/>
<entry key="166" type="xstring" value="min_energytech_energy-pv-thinfilm_aluminium[kg/GW]"/>
<entry key="167" type="xstring" value="min_energytech_energy-csp_aluminium[kg/GW]"/>
<entry key="168" type="xstring" value="min_energytech_energy-on-wind_aluminium[kg/GW]"/>
<entry key="169" type="xstring" value="min_energytech_energy-off-wind_aluminium[kg/GW]"/>
<entry key="170" type="xstring" value="min_energytech_energy-hydro_aluminium[kg/GW]"/>
<entry key="171" type="xstring" value="min_energytech_energy-geo_aluminium[kg/GW]"/>
<entry key="172" type="xstring" value="min_energytech_energy-oil_aluminium[kg/GW]"/>
<entry key="173" type="xstring" value="min_energytech_energy-gas_aluminium[kg/GW]"/>
<entry key="174" type="xstring" value="min_energytech_energy-coal_aluminium[kg/GW]"/>
<entry key="175" type="xstring" value="min_energytech_energy-nuclear_aluminium[kg/GW]"/>
<entry key="176" type="xstring" value="min_energytech_energy-pv-csi_copper[kg/GW]"/>
<entry key="177" type="xstring" value="min_energytech_energy-pv-thinfilm_copper[kg/GW]"/>
<entry key="178" type="xstring" value="min_energytech_energy-csp_copper[kg/GW]"/>
<entry key="179" type="xstring" value="min_energytech_energy-on-wind_copper[kg/GW]"/>
<entry key="180" type="xstring" value="min_energytech_energy-off-wind_copper[kg/GW]"/>
<entry key="181" type="xstring" value="min_energytech_energy-hydro_copper[kg/GW]"/>
<entry key="182" type="xstring" value="min_energytech_energy-marine_copper[kg/GW]"/>
<entry key="183" type="xstring" value="min_energytech_energy-geo_copper[kg/GW]"/>
<entry key="184" type="xstring" value="min_energytech_energy-oil_copper[kg/GW]"/>
<entry key="185" type="xstring" value="min_energytech_energy-gas_copper[kg/GW]"/>
<entry key="186" type="xstring" value="min_energytech_energy-coal_copper[kg/GW]"/>
<entry key="187" type="xstring" value="min_energytech_energy-nuclear_copper[kg/GW]"/>
<entry key="188" type="xstring" value="min_energytech_energy-oil_cobalt[kg/GW]"/>
<entry key="189" type="xstring" value="min_energytech_energy-gas_cobalt[kg/GW]"/>
<entry key="190" type="xstring" value="min_energytech_energy-coal_cobalt[kg/GW]"/>
<entry key="191" type="xstring" value="min_building_unit[kg/m2]"/>
<entry key="192" type="xstring" value="min_building_new_non-residential_steel[kg/m2]"/>
<entry key="193" type="xstring" value="min_building_reno_non-residential_steel[kg/m2]"/>
<entry key="194" type="xstring" value="min_building_new_residential_steel[kg/m2]"/>
<entry key="195" type="xstring" value="min_building_reno_residential_steel[kg/m2]"/>
<entry key="196" type="xstring" value="min_building_new_non-residential_aluminium[kg/m2]"/>
<entry key="197" type="xstring" value="min_building_reno_non-residential_aluminium[kg/m2]"/>
<entry key="198" type="xstring" value="min_building_new_residential_aluminium[kg/m2]"/>
<entry key="199" type="xstring" value="min_building_reno_residential_aluminium[kg/m2]"/>
<entry key="200" type="xstring" value="min_building_new_non-residential_copper[kg/m2]"/>
<entry key="201" type="xstring" value="min_building_reno_non-residential_copper[kg/m2]"/>
<entry key="202" type="xstring" value="min_building_new_residential_copper[kg/m2]"/>
<entry key="203" type="xstring" value="min_building_reno_residential_copper[kg/m2]"/>
<entry key="204" type="xstring" value="min_appliance_unit[kg/unit]"/>
<entry key="205" type="xstring" value="min_appliance_fridge_steel[kg/unit]"/>
<entry key="206" type="xstring" value="min_appliance_freezer_steel[kg/unit]"/>
<entry key="207" type="xstring" value="min_appliance_wmachine_steel[kg/unit]"/>
<entry key="208" type="xstring" value="min_appliance_dishwasher_steel[kg/unit]"/>
<entry key="209" type="xstring" value="min_appliance_dryer_steel[kg/unit]"/>
<entry key="210" type="xstring" value="min_appliance_fridge_aluminium[kg/unit]"/>
<entry key="211" type="xstring" value="min_appliance_freezer_aluminium[kg/unit]"/>
<entry key="212" type="xstring" value="min_appliance_wmachine_aluminium[kg/unit]"/>
<entry key="213" type="xstring" value="min_appliance_dryer_aluminium[kg/unit]"/>
<entry key="214" type="xstring" value="min_appliance_fridge_copper[kg/unit]"/>
<entry key="215" type="xstring" value="min_appliance_freezer_copper[kg/unit]"/>
<entry key="216" type="xstring" value="min_appliance_wmachine_copper[kg/unit]"/>
<entry key="217" type="xstring" value="min_appliance_dishwasher_copper[kg/unit]"/>
<entry key="218" type="xstring" value="min_appliance_dryer_copper[kg/unit]"/>
<entry key="219" type="xstring" value="min_appliance_wmachine_cobalt[kg/unit]"/>
<entry key="220" type="xstring" value="min_appliance_dishwasher_cobalt[kg/unit]"/>
<entry key="221" type="xstring" value="min_appliance_dryer_cobalt[kg/unit]"/>
<entry key="222" type="xstring" value="min_electronics_unit[kg/unit]"/>
<entry key="223" type="xstring" value="min_electronics_tv_steel[kg/unit]"/>
<entry key="224" type="xstring" value="min_electronics_phone_steel[kg/unit]"/>
<entry key="225" type="xstring" value="min_electronics_computer_steel[kg/unit]"/>
<entry key="226" type="xstring" value="min_electronics_tv_aluminium[kg/unit]"/>
<entry key="227" type="xstring" value="min_electronics_phone_aluminium[kg/unit]"/>
<entry key="228" type="xstring" value="min_electronics_computer_aluminium[kg/unit]"/>
<entry key="229" type="xstring" value="min_electronics_tv_copper[kg/unit]"/>
<entry key="230" type="xstring" value="min_electronics_phone_copper[kg/unit]"/>
<entry key="231" type="xstring" value="min_electronics_computer_copper[kg/unit]"/>
<entry key="232" type="xstring" value="min_parameters_unit[unit]"/>
<entry key="233" type="xstring" value="min_parameters_steel[unit]"/>
<entry key="234" type="xstring" value="min_parameters_aluminium[unit]"/>
<entry key="235" type="xstring" value="min_parameters_copper[unit]"/>
<entry key="236" type="xstring" value="min_other_unit[%]"/>
<entry key="237" type="xstring" value="min_other_steel[%]"/>
<entry key="238" type="xstring" value="min_other_aluminium[%]"/>
<entry key="239" type="xstring" value="min_other_copper[%]"/>
<entry key="240" type="xstring" value="min_other_cobalt[%]"/>
<entry key="241" type="xstring" value="min_other_graphite[%]"/>
<entry key="242" type="xstring" value="min_other_lithium[%]"/>
<entry key="243" type="xstring" value="min_other_manganese[%]"/>
<entry key="244" type="xstring" value="min_other_nickel[%]"/>
<entry key="245" type="xstring" value="min_other_dom-appliances_unit[%]"/>
<entry key="246" type="xstring" value="min_other_dom-appliances_steel[%]"/>
<entry key="247" type="xstring" value="min_other_dom-appliances_aluminium[%]"/>
<entry key="248" type="xstring" value="min_other_dom-appliances_copper[%]"/>
<entry key="249" type="xstring" value="min_other_dom-appliances_cobalt[%]"/>
<entry key="250" type="xstring" value="min_recy_unit[%]"/>
<entry key="251" type="xstring" value="min_recy_steel_EAF[%]"/>
<entry key="252" type="xstring" value="min_recy_steel_BOF[%]"/>
<entry key="253" type="xstring" value="min_recy_steel_DRI[%]"/>
<entry key="254" type="xstring" value="min_recy_steel_hisarna[%]"/>
<entry key="255" type="xstring" value="min_recy_aluminium_primary[%]"/>
<entry key="256" type="xstring" value="min_recy_aluminium_secondary[%]"/>
<entry key="257" type="xstring" value="min_recy_copper_primary[%]"/>
<entry key="258" type="xstring" value="min_recy_copper_secondary[%]"/>
<entry key="259" type="xstring" value="min_wire_unit[kg/GWh]"/>
<entry key="260" type="xstring" value="min_wire_copper[kg/GWh]"/>
<entry key="261" type="xstring" value="min_battery_unit[kg/kWh]"/>
<entry key="262" type="xstring" value="min_battery_cobalt[kg/kWh]"/>
<entry key="263" type="xstring" value="min_battery_lithium[kg/kWh]"/>
<entry key="264" type="xstring" value="min_battery_nickel[kg/kWh]"/>
<entry key="265" type="xstring" value="min_battery_graphite[kg/kWh]"/>
<entry key="266" type="xstring" value="min_battery_manganese[kg/kWh]"/>
<entry key="267" type="xstring" value="min_battery_aluminium[kg/kWh]"/>
<entry key="268" type="xstring" value="min_battery_copper[kg/kWh]"/>
<entry key="269" type="xstring" value="min_batveh_unit[kWh]"/>
<entry key="270" type="xstring" value="min_batveh_LDV-EV[kWh]"/>
<entry key="271" type="xstring" value="min_batveh_LDV-PHEV[kWh]"/>
<entry key="272" type="xstring" value="min_batveh_HDVL-EV[kWh]"/>
<entry key="273" type="xstring" value="min_batveh_HDVL-PHEV[kWh]"/>
<entry key="274" type="xstring" value="min_batveh_HDVM-EV[kWh]"/>
<entry key="275" type="xstring" value="min_batveh_HDVM-PHEV[kWh]"/>
<entry key="276" type="xstring" value="min_batveh_HDVH-EV[kWh]"/>
<entry key="277" type="xstring" value="min_batveh_HDVH-PHEV[kWh]"/>
<entry key="278" type="xstring" value="min_batveh_bus-EV[kWh]"/>
<entry key="279" type="xstring" value="min_batveh_bus-PHEV[kWh]"/>
<entry key="280" type="xstring" value="min_batveh_2W-EV[kWh]"/>
<entry key="281" type="xstring" value="min_batveh_2W-PHEV[kWh]"/>
<entry key="282" type="xstring" value="min_batveh_electronics-phone[kWh]"/>
<entry key="283" type="xstring" value="min_batveh_electronics-computer[kWh]"/>
<entry key="284" type="xstring" value="ind_material-efficiency_unit[%]"/>
<entry key="285" type="xstring" value="ind_material-efficiency_cobalt[%]"/>
<entry key="286" type="xstring" value="ind_material-efficiency_lithium[%]"/>
<entry key="287" type="xstring" value="ind_material-efficiency_nickel[%]"/>
<entry key="288" type="xstring" value="ind_material-efficiency_graphite[%]"/>
<entry key="289" type="xstring" value="ind_material-efficiency_manganese[%]"/>
<entry key="290" type="xstring" value="knime.workspace"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="min.*|ind.*"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.flowvariable.appendvariabletotable2.AppendVariableToTable2NodeFactory"/>
<entry key="node-name" type="xstring" value="Variable to Table Column"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904170949"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Variable to Table Column"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 493"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="8c7b0050-594c-4c7a-a06e-c1d89ea33004"/>
</config>
</config>
