<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="205"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="lfs_pop_population[inhabitants]"/>
<entry key="3" type="xstring" value="lfs_pop_world[inhabitants]"/>
<entry key="4" type="xstring" value="ind_proportion_steel_BF-BOF[%]"/>
<entry key="5" type="xstring" value="ind_proportion_steel_scrap-EAF[%]"/>
<entry key="6" type="xstring" value="ind_proportion_steel_hydrog-DRI[%]"/>
<entry key="7" type="xstring" value="ind_proportion_steel_hisarna[%]"/>
<entry key="8" type="xstring" value="ind_proportion_aluminium_primary[%]"/>
<entry key="9" type="xstring" value="ind_proportion_aluminium_secondary[%]"/>
<entry key="10" type="xstring" value="ind_proportion_copper_secondary[%]"/>
<entry key="11" type="xstring" value="ind_material-efficiency_steel[%]"/>
<entry key="12" type="xstring" value="ind_material-efficiency_aluminium[%]"/>
<entry key="13" type="xstring" value="ind_material-efficiency_copper[%]"/>
<entry key="14" type="xstring" value="tra_electricity-demand_total[GWh]"/>
<entry key="15" type="xstring" value="min_reserve_bauxite[Mt]"/>
<entry key="16" type="xstring" value="min_reserve_iron[Mt]"/>
<entry key="17" type="xstring" value="min_reserve_copper[Mt]"/>
<entry key="18" type="xstring" value="min_reserve_phosphate[Mt]"/>
<entry key="19" type="xstring" value="min_reserve_potash[Mt]"/>
<entry key="20" type="xstring" value="min_reserve_oil[Mt]"/>
<entry key="21" type="xstring" value="min_reserve_gas[Mt]"/>
<entry key="22" type="xstring" value="min_reserve_coal[Mt]"/>
<entry key="23" type="xstring" value="min_parameters_steel[unit]"/>
<entry key="24" type="xstring" value="min_parameters_aluminium[unit]"/>
<entry key="25" type="xstring" value="min_parameters_copper[unit]"/>
<entry key="26" type="xstring" value="min_proportion_eu_steel_EAF[%]"/>
<entry key="27" type="xstring" value="min_proportion_eu_steel_BOF[%]"/>
<entry key="28" type="xstring" value="min_proportion_row_steel_EAF[%]"/>
<entry key="29" type="xstring" value="min_proportion_row_steel_BOF[%]"/>
<entry key="30" type="xstring" value="min_proportion_eu_aluminium_primary[%]"/>
<entry key="31" type="xstring" value="min_proportion_eu_aluminium_secondary[%]"/>
<entry key="32" type="xstring" value="min_proportion_eu_copper_primary[%]"/>
<entry key="33" type="xstring" value="min_proportion_eu_copper_secondary[%]"/>
<entry key="34" type="xstring" value="min_other_phosphate[Mt]"/>
<entry key="35" type="xstring" value="min_other_potash[Mt]"/>
<entry key="36" type="xstring" value="min_proportion_eu_lithium_primary[%]"/>
<entry key="37" type="xstring" value="min_proportion_eu_lithium_secondary[%]"/>
<entry key="38" type="xstring" value="min_proportion_eu_nickel_primary[%]"/>
<entry key="39" type="xstring" value="min_proportion_eu_nickel_secondary[%]"/>
<entry key="40" type="xstring" value="min_proportion_eu_cobalt_secondary[%]"/>
<entry key="41" type="xstring" value="min_proportion_eu_cobalt_primary[%]"/>
<entry key="42" type="xstring" value="min_proportion_eu_graphite_secondary[%]"/>
<entry key="43" type="xstring" value="min_proportion_eu_graphite_primary[%]"/>
<entry key="44" type="xstring" value="min_proportion_eu_manganese_secondary[%]"/>
<entry key="45" type="xstring" value="min_proportion_eu_manganese_primary[%]"/>
<entry key="46" type="xstring" value="min_proportion_eu_lead_secondary[%]"/>
<entry key="47" type="xstring" value="min_proportion_eu_lead_primary[%]"/>
<entry key="48" type="xstring" value="min_proportion_row_aluminium_primary[%]"/>
<entry key="49" type="xstring" value="min_proportion_row_aluminium_secondary[%]"/>
<entry key="50" type="xstring" value="min_proportion_row_copper_primary[%]"/>
<entry key="51" type="xstring" value="min_proportion_row_copper_secondary[%]"/>
<entry key="52" type="xstring" value="min_proportion_row_lithium_primary[%]"/>
<entry key="53" type="xstring" value="min_proportion_row_lithium_secondary[%]"/>
<entry key="54" type="xstring" value="min_proportion_row_cobalt_primary[%]"/>
<entry key="55" type="xstring" value="min_proportion_row_cobalt_secondary[%]"/>
<entry key="56" type="xstring" value="min_proportion_row_manganese_primary[%]"/>
<entry key="57" type="xstring" value="min_proportion_row_manganese_secondary[%]"/>
<entry key="58" type="xstring" value="min_proportion_row_graphite_primary[%]"/>
<entry key="59" type="xstring" value="min_proportion_row_graphite_secondary[%]"/>
<entry key="60" type="xstring" value="min_proportion_row_nickel_primary[%]"/>
<entry key="61" type="xstring" value="min_proportion_row_nickel_secondary[%]"/>
<entry key="62" type="xstring" value="min_proportion_row_lead_primary[%]"/>
<entry key="63" type="xstring" value="min_proportion_row_lead_secondary[%]"/>
<entry key="64" type="xstring" value="min_energy_gas[Mt]"/>
<entry key="65" type="xstring" value="min_energy_oil[Mt]"/>
<entry key="66" type="xstring" value="min_energy_coal[Mt]"/>
<entry key="67" type="xstring" value="min_ccus_gas[Mt]"/>
<entry key="68" type="xstring" value="min_agr_phosphate[Mt]"/>
<entry key="69" type="xstring" value="min_agr_potash[Mt]"/>
<entry key="70" type="xstring" value="min_reserve_lithium[Mt]"/>
<entry key="71" type="xstring" value="min_reserve_graphite[Mt]"/>
<entry key="72" type="xstring" value="min_reserve_manganese[Mt]"/>
<entry key="73" type="xstring" value="min_reserve_cobalt[Mt]"/>
<entry key="74" type="xstring" value="min_reserve_nickel[Mt]"/>
<entry key="75" type="xstring" value="min_reserve_lead[Mt]"/>
<entry key="76" type="xstring" value="min_parameters_cobalt[unit]"/>
<entry key="77" type="xstring" value="min_parameters_graphite[unit]"/>
<entry key="78" type="xstring" value="min_parameters_nickel[unit]"/>
<entry key="79" type="xstring" value="min_parameters_manganese[unit]"/>
<entry key="80" type="xstring" value="min_parameters_lithium[unit]"/>
<entry key="81" type="xstring" value="min_parameters_lead[unit]"/>
<entry key="82" type="xstring" value="min_recy_EAF[%]"/>
<entry key="83" type="xstring" value="min_recy_BOF[%]"/>
<entry key="84" type="xstring" value="min_recy_DRI[%]"/>
<entry key="85" type="xstring" value="min_recy_hisarna[%]"/>
<entry key="86" type="xstring" value="min_recy_primary[%]"/>
<entry key="87" type="xstring" value="min_recy_secondary[%]"/>
<entry key="88" type="xstring" value="ind_material-efficiency_cobalt[%]"/>
<entry key="89" type="xstring" value="ind_material-efficiency_lithium[%]"/>
<entry key="90" type="xstring" value="ind_material-efficiency_nickel[%]"/>
<entry key="91" type="xstring" value="ind_material-efficiency_graphite[%]"/>
<entry key="92" type="xstring" value="ind_material-efficiency_manganese[%]"/>
<entry key="93" type="xstring" value="ind_material-efficiency_lead[%]"/>
<entry key="94" type="xstring" value="min_total_electronics_dir_lead[kg]"/>
<entry key="95" type="xstring" value="min_total_electronics_exp_lead[kg]"/>
<entry key="96" type="xstring" value="min_total_electronics_indir_lead[kg]"/>
<entry key="97" type="xstring" value="min_total_electronics_indir_steel[kg]"/>
<entry key="98" type="xstring" value="min_total_dir_aluminium[kg]"/>
<entry key="99" type="xstring" value="min_total_dir_cobalt[kg]"/>
<entry key="100" type="xstring" value="min_total_dir_copper[kg]"/>
<entry key="101" type="xstring" value="min_total_dir_graphite[kg]"/>
<entry key="102" type="xstring" value="min_total_dir_lead[kg]"/>
<entry key="103" type="xstring" value="min_total_dir_lithium[kg]"/>
<entry key="104" type="xstring" value="min_total_dir_manganese[kg]"/>
<entry key="105" type="xstring" value="min_total_dir_nickel[kg]"/>
<entry key="106" type="xstring" value="min_total_dir_steel[kg]"/>
<entry key="107" type="xstring" value="min_total_exp_aluminium[kg]"/>
<entry key="108" type="xstring" value="min_total_exp_cobalt[kg]"/>
<entry key="109" type="xstring" value="min_total_exp_copper[kg]"/>
<entry key="110" type="xstring" value="min_total_exp_graphite[kg]"/>
<entry key="111" type="xstring" value="min_total_exp_lead[kg]"/>
<entry key="112" type="xstring" value="min_total_exp_lithium[kg]"/>
<entry key="113" type="xstring" value="min_total_exp_manganese[kg]"/>
<entry key="114" type="xstring" value="min_total_exp_nickel[kg]"/>
<entry key="115" type="xstring" value="min_total_exp_steel[kg]"/>
<entry key="116" type="xstring" value="min_total_indir_aluminium[kg]"/>
<entry key="117" type="xstring" value="min_total_indir_cobalt[kg]"/>
<entry key="118" type="xstring" value="min_total_indir_copper[kg]"/>
<entry key="119" type="xstring" value="min_total_indir_graphite[kg]"/>
<entry key="120" type="xstring" value="min_total_indir_lead[kg]"/>
<entry key="121" type="xstring" value="min_total_indir_lithium[kg]"/>
<entry key="122" type="xstring" value="min_total_indir_manganese[kg]"/>
<entry key="123" type="xstring" value="min_total_indir_nickel[kg]"/>
<entry key="124" type="xstring" value="min_total_indir_steel[kg]"/>
<entry key="125" type="xstring" value="min_perc_transport_dir_aluminium[%]"/>
<entry key="126" type="xstring" value="min_perc_transport_dir_cobalt[%]"/>
<entry key="127" type="xstring" value="min_perc_transport_dir_copper[%]"/>
<entry key="128" type="xstring" value="min_perc_transport_dir_graphite[%]"/>
<entry key="129" type="xstring" value="min_perc_transport_dir_lead[%]"/>
<entry key="130" type="xstring" value="min_perc_transport_dir_lithium[%]"/>
<entry key="131" type="xstring" value="min_perc_transport_dir_manganese[%]"/>
<entry key="132" type="xstring" value="min_perc_transport_dir_nickel[%]"/>
<entry key="133" type="xstring" value="min_perc_transport_dir_steel[%]"/>
<entry key="134" type="xstring" value="min_perc_infra_dir_aluminium[%]"/>
<entry key="135" type="xstring" value="min_perc_infra_dir_copper[%]"/>
<entry key="136" type="xstring" value="min_perc_infra_dir_steel[%]"/>
<entry key="137" type="xstring" value="min_perc_dom-appliances_dir_aluminium[%]"/>
<entry key="138" type="xstring" value="min_perc_dom-appliances_dir_copper[%]"/>
<entry key="139" type="xstring" value="min_perc_dom-appliances_dir_steel[%]"/>
<entry key="140" type="xstring" value="min_perc_electronics_dir_aluminium[%]"/>
<entry key="141" type="xstring" value="min_perc_electronics_dir_cobalt[%]"/>
<entry key="142" type="xstring" value="min_perc_electronics_dir_copper[%]"/>
<entry key="143" type="xstring" value="min_perc_electronics_dir_graphite[%]"/>
<entry key="144" type="xstring" value="min_perc_electronics_dir_lead[%]"/>
<entry key="145" type="xstring" value="min_perc_electronics_dir_lithium[%]"/>
<entry key="146" type="xstring" value="min_perc_electronics_dir_manganese[%]"/>
<entry key="147" type="xstring" value="min_perc_electronics_dir_nickel[%]"/>
<entry key="148" type="xstring" value="min_perc_electronics_dir_steel[%]"/>
<entry key="149" type="xstring" value="min_perc_construction_dir_aluminium[%]"/>
<entry key="150" type="xstring" value="min_perc_construction_dir_copper[%]"/>
<entry key="151" type="xstring" value="min_perc_construction_dir_steel[%]"/>
<entry key="152" type="xstring" value="min_perc_energy_dir_aluminium[%]"/>
<entry key="153" type="xstring" value="min_perc_energy_dir_cobalt[%]"/>
<entry key="154" type="xstring" value="min_perc_energy_dir_copper[%]"/>
<entry key="155" type="xstring" value="min_perc_energy_dir_graphite[%]"/>
<entry key="156" type="xstring" value="min_perc_energy_dir_lithium[%]"/>
<entry key="157" type="xstring" value="min_perc_energy_dir_manganese[%]"/>
<entry key="158" type="xstring" value="min_perc_energy_dir_nickel[%]"/>
<entry key="159" type="xstring" value="min_perc_energy_dir_steel[%]"/>
<entry key="160" type="xstring" value="min_perc_other_dir_steel[%]"/>
<entry key="161" type="xstring" value="min_perc_other_dir_aluminium[%]"/>
<entry key="162" type="xstring" value="min_perc_other_dir_copper[%]"/>
<entry key="163" type="xstring" value="min_perc_other_dir_cobalt[%]"/>
<entry key="164" type="xstring" value="min_perc_other_dir_lead[%]"/>
<entry key="165" type="xstring" value="min_perc_industry_dir_graphite[%]"/>
<entry key="166" type="xstring" value="min_perc_industry_dir_lithium[%]"/>
<entry key="167" type="xstring" value="min_perc_industry_dir_manganese[%]"/>
<entry key="168" type="xstring" value="min_perc_industry_dir_nickel[%]"/>
<entry key="169" type="xstring" value="min_perc_other_dir_graphite[%]"/>
<entry key="170" type="xstring" value="min_perc_other_dir_lithium[%]"/>
<entry key="171" type="xstring" value="min_perc_other_dir_manganese[%]"/>
<entry key="172" type="xstring" value="min_perc_other_dir_nickel[%]"/>
<entry key="173" type="xstring" value="min_perc_transport_exp_aluminium[%]"/>
<entry key="174" type="xstring" value="min_perc_transport_exp_cobalt[%]"/>
<entry key="175" type="xstring" value="min_perc_transport_exp_copper[%]"/>
<entry key="176" type="xstring" value="min_perc_transport_exp_graphite[%]"/>
<entry key="177" type="xstring" value="min_perc_transport_exp_lead[%]"/>
<entry key="178" type="xstring" value="min_perc_transport_exp_lithium[%]"/>
<entry key="179" type="xstring" value="min_perc_transport_exp_manganese[%]"/>
<entry key="180" type="xstring" value="min_perc_transport_exp_nickel[%]"/>
<entry key="181" type="xstring" value="min_perc_transport_exp_steel[%]"/>
<entry key="182" type="xstring" value="min_perc_infra_exp_aluminium[%]"/>
<entry key="183" type="xstring" value="min_perc_infra_exp_copper[%]"/>
<entry key="184" type="xstring" value="min_perc_infra_exp_steel[%]"/>
<entry key="185" type="xstring" value="min_perc_dom-appliances_exp_aluminium[%]"/>
<entry key="186" type="xstring" value="min_perc_dom-appliances_exp_copper[%]"/>
<entry key="187" type="xstring" value="min_perc_dom-appliances_exp_steel[%]"/>
<entry key="188" type="xstring" value="min_perc_electronics_exp_aluminium[%]"/>
<entry key="189" type="xstring" value="min_perc_electronics_exp_cobalt[%]"/>
<entry key="190" type="xstring" value="min_perc_electronics_exp_copper[%]"/>
<entry key="191" type="xstring" value="min_perc_electronics_exp_graphite[%]"/>
<entry key="192" type="xstring" value="min_perc_electronics_exp_lead[%]"/>
<entry key="193" type="xstring" value="min_perc_electronics_exp_lithium[%]"/>
<entry key="194" type="xstring" value="min_perc_electronics_exp_manganese[%]"/>
<entry key="195" type="xstring" value="min_perc_electronics_exp_nickel[%]"/>
<entry key="196" type="xstring" value="min_perc_electronics_exp_steel[%]"/>
<entry key="197" type="xstring" value="min_perc_energy_exp_aluminium[%]"/>
<entry key="198" type="xstring" value="min_perc_energy_exp_cobalt[%]"/>
<entry key="199" type="xstring" value="min_perc_energy_exp_copper[%]"/>
<entry key="200" type="xstring" value="min_perc_energy_exp_graphite[%]"/>
<entry key="201" type="xstring" value="min_perc_energy_exp_lithium[%]"/>
<entry key="202" type="xstring" value="min_perc_energy_exp_manganese[%]"/>
<entry key="203" type="xstring" value="min_perc_energy_exp_nickel[%]"/>
<entry key="204" type="xstring" value="min_perc_energy_exp_steel[%]"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="129"/>
<entry key="0" type="xstring" value="min_energy-battery_dir[GW]"/>
<entry key="1" type="xstring" value="min_energy-battery_indir[GW]"/>
<entry key="2" type="xstring" value="min_energy-battery_exp[GW]"/>
<entry key="3" type="xstring" value="min_total_transport_dir_aluminium[kg]"/>
<entry key="4" type="xstring" value="min_total_transport_dir_cobalt[kg]"/>
<entry key="5" type="xstring" value="min_total_transport_dir_copper[kg]"/>
<entry key="6" type="xstring" value="min_total_transport_dir_graphite[kg]"/>
<entry key="7" type="xstring" value="min_total_transport_dir_lead[kg]"/>
<entry key="8" type="xstring" value="min_total_transport_dir_lithium[kg]"/>
<entry key="9" type="xstring" value="min_total_transport_dir_manganese[kg]"/>
<entry key="10" type="xstring" value="min_total_transport_dir_nickel[kg]"/>
<entry key="11" type="xstring" value="min_total_transport_dir_steel[kg]"/>
<entry key="12" type="xstring" value="min_total_transport_exp_aluminium[kg]"/>
<entry key="13" type="xstring" value="min_total_transport_exp_cobalt[kg]"/>
<entry key="14" type="xstring" value="min_total_transport_exp_copper[kg]"/>
<entry key="15" type="xstring" value="min_total_transport_exp_graphite[kg]"/>
<entry key="16" type="xstring" value="min_total_transport_exp_lead[kg]"/>
<entry key="17" type="xstring" value="min_total_transport_exp_lithium[kg]"/>
<entry key="18" type="xstring" value="min_total_transport_exp_manganese[kg]"/>
<entry key="19" type="xstring" value="min_total_transport_exp_nickel[kg]"/>
<entry key="20" type="xstring" value="min_total_transport_exp_steel[kg]"/>
<entry key="21" type="xstring" value="min_total_transport_indir_aluminium[kg]"/>
<entry key="22" type="xstring" value="min_total_transport_indir_cobalt[kg]"/>
<entry key="23" type="xstring" value="min_total_transport_indir_copper[kg]"/>
<entry key="24" type="xstring" value="min_total_transport_indir_graphite[kg]"/>
<entry key="25" type="xstring" value="min_total_transport_indir_lead[kg]"/>
<entry key="26" type="xstring" value="min_total_transport_indir_lithium[kg]"/>
<entry key="27" type="xstring" value="min_total_transport_indir_manganese[kg]"/>
<entry key="28" type="xstring" value="min_total_transport_indir_nickel[kg]"/>
<entry key="29" type="xstring" value="min_total_transport_indir_steel[kg]"/>
<entry key="30" type="xstring" value="min_total_infra_dir_aluminium[kg]"/>
<entry key="31" type="xstring" value="min_total_infra_dir_copper[kg]"/>
<entry key="32" type="xstring" value="min_total_infra_dir_steel[kg]"/>
<entry key="33" type="xstring" value="min_total_infra_exp_aluminium[kg]"/>
<entry key="34" type="xstring" value="min_total_infra_exp_copper[kg]"/>
<entry key="35" type="xstring" value="min_total_infra_exp_steel[kg]"/>
<entry key="36" type="xstring" value="min_total_infra_indir_aluminium[kg]"/>
<entry key="37" type="xstring" value="min_total_infra_indir_copper[kg]"/>
<entry key="38" type="xstring" value="min_total_infra_indir_steel[kg]"/>
<entry key="39" type="xstring" value="min_total_dom-appliances_dir_aluminium[kg]"/>
<entry key="40" type="xstring" value="min_total_dom-appliances_dir_copper[kg]"/>
<entry key="41" type="xstring" value="min_total_dom-appliances_dir_steel[kg]"/>
<entry key="42" type="xstring" value="min_total_dom-appliances_exp_aluminium[kg]"/>
<entry key="43" type="xstring" value="min_total_dom-appliances_exp_copper[kg]"/>
<entry key="44" type="xstring" value="min_total_dom-appliances_exp_steel[kg]"/>
<entry key="45" type="xstring" value="min_total_dom-appliances_indir_aluminium[kg]"/>
<entry key="46" type="xstring" value="min_total_dom-appliances_indir_copper[kg]"/>
<entry key="47" type="xstring" value="min_total_dom-appliances_indir_steel[kg]"/>
<entry key="48" type="xstring" value="min_total_electronics_dir_aluminium[kg]"/>
<entry key="49" type="xstring" value="min_total_electronics_dir_cobalt[kg]"/>
<entry key="50" type="xstring" value="min_total_electronics_dir_copper[kg]"/>
<entry key="51" type="xstring" value="min_total_electronics_dir_graphite[kg]"/>
<entry key="52" type="xstring" value="min_total_electronics_dir_lithium[kg]"/>
<entry key="53" type="xstring" value="min_total_electronics_dir_manganese[kg]"/>
<entry key="54" type="xstring" value="min_total_electronics_dir_nickel[kg]"/>
<entry key="55" type="xstring" value="min_total_electronics_dir_steel[kg]"/>
<entry key="56" type="xstring" value="min_total_electronics_exp_aluminium[kg]"/>
<entry key="57" type="xstring" value="min_total_electronics_exp_cobalt[kg]"/>
<entry key="58" type="xstring" value="min_total_electronics_exp_copper[kg]"/>
<entry key="59" type="xstring" value="min_total_electronics_exp_graphite[kg]"/>
<entry key="60" type="xstring" value="min_total_electronics_exp_lithium[kg]"/>
<entry key="61" type="xstring" value="min_total_electronics_exp_manganese[kg]"/>
<entry key="62" type="xstring" value="min_total_electronics_exp_nickel[kg]"/>
<entry key="63" type="xstring" value="min_total_electronics_exp_steel[kg]"/>
<entry key="64" type="xstring" value="min_total_electronics_indir_aluminium[kg]"/>
<entry key="65" type="xstring" value="min_total_electronics_indir_cobalt[kg]"/>
<entry key="66" type="xstring" value="min_total_electronics_indir_copper[kg]"/>
<entry key="67" type="xstring" value="min_total_electronics_indir_graphite[kg]"/>
<entry key="68" type="xstring" value="min_total_electronics_indir_lithium[kg]"/>
<entry key="69" type="xstring" value="min_total_electronics_indir_manganese[kg]"/>
<entry key="70" type="xstring" value="min_total_electronics_indir_nickel[kg]"/>
<entry key="71" type="xstring" value="min_total_construction_dir_aluminium[kg]"/>
<entry key="72" type="xstring" value="min_total_construction_dir_copper[kg]"/>
<entry key="73" type="xstring" value="min_total_construction_dir_steel[kg]"/>
<entry key="74" type="xstring" value="min_total_energy_dir_aluminium[kg]"/>
<entry key="75" type="xstring" value="min_total_energy_dir_cobalt[kg]"/>
<entry key="76" type="xstring" value="min_total_energy_dir_copper[kg]"/>
<entry key="77" type="xstring" value="min_total_energy_dir_graphite[kg]"/>
<entry key="78" type="xstring" value="min_total_energy_dir_lithium[kg]"/>
<entry key="79" type="xstring" value="min_total_energy_dir_manganese[kg]"/>
<entry key="80" type="xstring" value="min_total_energy_dir_nickel[kg]"/>
<entry key="81" type="xstring" value="min_total_energy_dir_steel[kg]"/>
<entry key="82" type="xstring" value="min_total_energy_exp_aluminium[kg]"/>
<entry key="83" type="xstring" value="min_total_energy_exp_cobalt[kg]"/>
<entry key="84" type="xstring" value="min_total_energy_exp_copper[kg]"/>
<entry key="85" type="xstring" value="min_total_energy_exp_graphite[kg]"/>
<entry key="86" type="xstring" value="min_total_energy_exp_lithium[kg]"/>
<entry key="87" type="xstring" value="min_total_energy_exp_manganese[kg]"/>
<entry key="88" type="xstring" value="min_total_energy_exp_nickel[kg]"/>
<entry key="89" type="xstring" value="min_total_energy_exp_steel[kg]"/>
<entry key="90" type="xstring" value="min_total_energy_indir_aluminium[kg]"/>
<entry key="91" type="xstring" value="min_total_energy_indir_cobalt[kg]"/>
<entry key="92" type="xstring" value="min_total_energy_indir_copper[kg]"/>
<entry key="93" type="xstring" value="min_total_energy_indir_graphite[kg]"/>
<entry key="94" type="xstring" value="min_total_energy_indir_lithium[kg]"/>
<entry key="95" type="xstring" value="min_total_energy_indir_manganese[kg]"/>
<entry key="96" type="xstring" value="min_total_energy_indir_nickel[kg]"/>
<entry key="97" type="xstring" value="min_total_energy_indir_steel[kg]"/>
<entry key="98" type="xstring" value="min_total_other_dir_steel[kg]"/>
<entry key="99" type="xstring" value="min_total_other_dir_aluminium[kg]"/>
<entry key="100" type="xstring" value="min_total_other_dir_copper[kg]"/>
<entry key="101" type="xstring" value="min_total_other_dir_cobalt[kg]"/>
<entry key="102" type="xstring" value="min_total_other_dir_lead[kg]"/>
<entry key="103" type="xstring" value="min_total_industry_dir_graphite[kg]"/>
<entry key="104" type="xstring" value="min_total_industry_dir_lithium[kg]"/>
<entry key="105" type="xstring" value="min_total_industry_dir_manganese[kg]"/>
<entry key="106" type="xstring" value="min_total_industry_dir_nickel[kg]"/>
<entry key="107" type="xstring" value="min_total_other_dir_graphite[kg]"/>
<entry key="108" type="xstring" value="min_total_other_dir_lithium[kg]"/>
<entry key="109" type="xstring" value="min_total_other_dir_manganese[kg]"/>
<entry key="110" type="xstring" value="min_total_other_dir_nickel[kg]"/>
<entry key="111" type="xstring" value="min_total_tra_dir_aluminium[kg]"/>
<entry key="112" type="xstring" value="min_total_tra_dir_cobalt[kg]"/>
<entry key="113" type="xstring" value="min_total_tra_dir_copper[kg]"/>
<entry key="114" type="xstring" value="min_total_tra_dir_graphite[kg]"/>
<entry key="115" type="xstring" value="min_total_tra_dir_lithium[kg]"/>
<entry key="116" type="xstring" value="min_total_tra_dir_manganese[kg]"/>
<entry key="117" type="xstring" value="min_total_tra_dir_nickel[kg]"/>
<entry key="118" type="xstring" value="min_total_tra_dir_steel[kg]"/>
<entry key="119" type="xstring" value="min_total_tra_exp_aluminium[kg]"/>
<entry key="120" type="xstring" value="min_total_tra_exp_cobalt[kg]"/>
<entry key="121" type="xstring" value="min_total_tra_exp_copper[kg]"/>
<entry key="122" type="xstring" value="min_total_tra_exp_graphite[kg]"/>
<entry key="123" type="xstring" value="min_total_tra_exp_lithium[kg]"/>
<entry key="124" type="xstring" value="min_total_tra_exp_manganese[kg]"/>
<entry key="125" type="xstring" value="min_total_tra_exp_nickel[kg]"/>
<entry key="126" type="xstring" value="min_total_tra_exp_steel[kg]"/>
<entry key="127" type="xstring" value="min_total_dom-appliances_dir_cobalt[kg]"/>
<entry key="128" type="xstring" value="min_total_dom-appliances_exp_cobalt[kg]"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="^(?:(?!min_total_oth|min_total_tra|min_total_infra|min_total_ele|min_total_indu|min_total_ene|min_total_cons|min_total_dom).)*$"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904170949"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 195"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="e6c46938-029b-4ffa-97f6-0f963d6a24ca"/>
</config>
</config>
