<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="variable-filter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="582"/>
<entry key="0" type="xstring" value="cooling-cons-factors_fossil_unit[m3/GWh]"/>
<entry key="1" type="xstring" value="cooling-cons-factors_fossil_coal_1thru-fresh[m3/GWh]"/>
<entry key="2" type="xstring" value="cooling-cons-factors_fossil_coal_1thru-sea[m3/GWh]"/>
<entry key="3" type="xstring" value="cooling-cons-factors_fossil_coal_WT[m3/GWh]"/>
<entry key="4" type="xstring" value="cooling-cons-factors_fossil_coal_dry[m3/GWh]"/>
<entry key="5" type="xstring" value="cooling-cons-factors_fossil_oil_1thru-fresh[m3/GWh]"/>
<entry key="6" type="xstring" value="cooling-cons-factors_fossil_oil_1thru-sea[m3/GWh]"/>
<entry key="7" type="xstring" value="cooling-cons-factors_fossil_oil_WT[m3/GWh]"/>
<entry key="8" type="xstring" value="cooling-cons-factors_fossil_oil_dry[m3/GWh]"/>
<entry key="9" type="xstring" value="cooling-cons-factors_fossil_nuclear_1thru-fresh[m3/GWh]"/>
<entry key="10" type="xstring" value="cooling-cons-factors_fossil_nuclear_1thru-sea[m3/GWh]"/>
<entry key="11" type="xstring" value="cooling-cons-factors_fossil_nuclear_WT[m3/GWh]"/>
<entry key="12" type="xstring" value="cooling-cons-factors_fossil_nuclear_dry[m3/GWh]"/>
<entry key="13" type="xstring" value="cooling-cons-factors_fossil_gas_1thru-fresh[m3/GWh]"/>
<entry key="14" type="xstring" value="cooling-cons-factors_fossil_gas_1thru-sea[m3/GWh]"/>
<entry key="15" type="xstring" value="cooling-cons-factors_fossil_gas_WT[m3/GWh]"/>
<entry key="16" type="xstring" value="cooling-cons-factors_fossil_gas_dry[m3/GWh]"/>
<entry key="17" type="xstring" value="cooling-cons-factors_fossil_biomass_1thru-fresh[m3/GWh]"/>
<entry key="18" type="xstring" value="cooling-cons-factors_fossil_biomass_1thru-sea[m3/GWh]"/>
<entry key="19" type="xstring" value="cooling-cons-factors_fossil_biomass_WT[m3/GWh]"/>
<entry key="20" type="xstring" value="cooling-cons-factors_fossil_biomass_dry[m3/GWh]"/>
<entry key="21" type="xstring" value="cooling-cons-factors_RES_unit[m3/GWh]"/>
<entry key="22" type="xstring" value="cooling-cons-factors_RES_other_marine[m3/GWh]"/>
<entry key="23" type="xstring" value="cooling-cons-factors_RES_other_hydroelectric[m3/GWh]"/>
<entry key="24" type="xstring" value="cooling-cons-factors_RES_other_geothermal[m3/GWh]"/>
<entry key="25" type="xstring" value="cooling-cons-factors_RES_solar_pv[m3/GWh]"/>
<entry key="26" type="xstring" value="cooling-cons-factors_RES_solar_csp[m3/GWh]"/>
<entry key="27" type="xstring" value="cooling-cons-factors_RES_wind_onshore[m3/GWh]"/>
<entry key="28" type="xstring" value="cooling-cons-factors_RES_wind_offshore[m3/GWh]"/>
<entry key="29" type="xstring" value="cooling-with-factors_fossil_unit[m3/GWh]"/>
<entry key="30" type="xstring" value="cooling-with-factors_fossil_coal_1thru-fresh[m3/GWh]"/>
<entry key="31" type="xstring" value="cooling-with-factors_fossil_coal_1thru-sea[m3/GWh]"/>
<entry key="32" type="xstring" value="cooling-with-factors_fossil_coal_WT[m3/GWh]"/>
<entry key="33" type="xstring" value="cooling-with-factors_fossil_coal_dry[m3/GWh]"/>
<entry key="34" type="xstring" value="cooling-with-factors_fossil_oil_1thru-fresh[m3/GWh]"/>
<entry key="35" type="xstring" value="cooling-with-factors_fossil_oil_1thru-sea[m3/GWh]"/>
<entry key="36" type="xstring" value="cooling-with-factors_fossil_oil_WT[m3/GWh]"/>
<entry key="37" type="xstring" value="cooling-with-factors_fossil_oil_dry[m3/GWh]"/>
<entry key="38" type="xstring" value="cooling-with-factors_fossil_nuclear_1thru-fresh[m3/GWh]"/>
<entry key="39" type="xstring" value="cooling-with-factors_fossil_nuclear_1thru-sea[m3/GWh]"/>
<entry key="40" type="xstring" value="cooling-with-factors_fossil_nuclear_WT[m3/GWh]"/>
<entry key="41" type="xstring" value="cooling-with-factors_fossil_nuclear_dry[m3/GWh]"/>
<entry key="42" type="xstring" value="cooling-with-factors_fossil_gas_1thru-fresh[m3/GWh]"/>
<entry key="43" type="xstring" value="cooling-with-factors_fossil_gas_1thru-sea[m3/GWh]"/>
<entry key="44" type="xstring" value="cooling-with-factors_fossil_gas_WT[m3/GWh]"/>
<entry key="45" type="xstring" value="cooling-with-factors_fossil_gas_dry[m3/GWh]"/>
<entry key="46" type="xstring" value="cooling-with-factors_fossil_biomass_1thru-fresh[m3/GWh]"/>
<entry key="47" type="xstring" value="cooling-with-factors_fossil_biomass_1thru-sea[m3/GWh]"/>
<entry key="48" type="xstring" value="cooling-with-factors_fossil_biomass_WT[m3/GWh]"/>
<entry key="49" type="xstring" value="cooling-with-factors_fossil_biomass_dry[m3/GWh]"/>
<entry key="50" type="xstring" value="cooling-with-factors_RES_unit[m3/GWh]"/>
<entry key="51" type="xstring" value="cooling-with-factors_RES_other_marine[m3/GWh]"/>
<entry key="52" type="xstring" value="cooling-with-factors_RES_other_hydroelectric[m3/GWh]"/>
<entry key="53" type="xstring" value="cooling-with-factors_RES_other_geothermal[m3/GWh]"/>
<entry key="54" type="xstring" value="cooling-with-factors_RES_solar_pv[m3/GWh]"/>
<entry key="55" type="xstring" value="cooling-with-factors_RES_solar_csp[m3/GWh]"/>
<entry key="56" type="xstring" value="cooling-with-factors_RES_wind_onshore[m3/GWh]"/>
<entry key="57" type="xstring" value="cooling-with-factors_RES_wind_offshore[m3/GWh]"/>
<entry key="58" type="xstring" value="region-share_household_unit[%]"/>
<entry key="59" type="xstring" value="region-share_household_France_France-N[%]"/>
<entry key="60" type="xstring" value="region-share_household_France_France-S[%]"/>
<entry key="61" type="xstring" value="region-share_household_Greece_Greece-N[%]"/>
<entry key="62" type="xstring" value="region-share_household_Greece_Greece-S[%]"/>
<entry key="63" type="xstring" value="region-share_household_Italy_Italy-N[%]"/>
<entry key="64" type="xstring" value="region-share_household_Italy_Italy-M[%]"/>
<entry key="65" type="xstring" value="region-share_household_Italy_Italy-S[%]"/>
<entry key="66" type="xstring" value="region-share_household_United Kingdom_United Kingdom-N[%]"/>
<entry key="67" type="xstring" value="region-share_household_United Kingdom_United Kingdom-M[%]"/>
<entry key="68" type="xstring" value="region-share_household_United Kingdom_United Kingdom-S[%]"/>
<entry key="69" type="xstring" value="region-share_household_Spain_Spain-S[%]"/>
<entry key="70" type="xstring" value="region-share_household_Spain_Spain-NW[%]"/>
<entry key="71" type="xstring" value="region-share_household_Spain_Spain-Ebro[%]"/>
<entry key="72" type="xstring" value="region-share_household_Germany_Germany-Rhine[%]"/>
<entry key="73" type="xstring" value="region-share_household_Germany_Germany-Danube[%]"/>
<entry key="74" type="xstring" value="region-share_household_Germany_German-ElbeOder[%]"/>
<entry key="75" type="xstring" value="region-share_livestock_unit[%]"/>
<entry key="76" type="xstring" value="region-share_livestock_France_France-N[%]"/>
<entry key="77" type="xstring" value="region-share_livestock_France_France-S[%]"/>
<entry key="78" type="xstring" value="region-share_livestock_Greece_Greece-N[%]"/>
<entry key="79" type="xstring" value="region-share_livestock_Greece_Greece-S[%]"/>
<entry key="80" type="xstring" value="region-share_livestock_Italy_Italy-N[%]"/>
<entry key="81" type="xstring" value="region-share_livestock_Italy_Italy-M[%]"/>
<entry key="82" type="xstring" value="region-share_livestock_Italy_Italy-S[%]"/>
<entry key="83" type="xstring" value="region-share_livestock_United Kingdom_United Kingdom-N[%]"/>
<entry key="84" type="xstring" value="region-share_livestock_United Kingdom_United Kingdom-M[%]"/>
<entry key="85" type="xstring" value="region-share_livestock_United Kingdom_United Kingdom-S[%]"/>
<entry key="86" type="xstring" value="region-share_livestock_Spain_Spain-S[%]"/>
<entry key="87" type="xstring" value="region-share_livestock_Spain_Spain-NW[%]"/>
<entry key="88" type="xstring" value="region-share_livestock_Spain_Spain-Ebro[%]"/>
<entry key="89" type="xstring" value="region-share_livestock_Germany_Germany-Rhine[%]"/>
<entry key="90" type="xstring" value="region-share_livestock_Germany_Germany-Danube[%]"/>
<entry key="91" type="xstring" value="region-share_livestock_Germany_German-ElbeOder[%]"/>
<entry key="92" type="xstring" value="region-share_energy_unit[%]"/>
<entry key="93" type="xstring" value="region-share_energy_France_France-N[%]"/>
<entry key="94" type="xstring" value="region-share_energy_France_France-S[%]"/>
<entry key="95" type="xstring" value="region-share_energy_Greece_Greece-N[%]"/>
<entry key="96" type="xstring" value="region-share_energy_Greece_Greece-S[%]"/>
<entry key="97" type="xstring" value="region-share_energy_Italy_Italy-N[%]"/>
<entry key="98" type="xstring" value="region-share_energy_Italy_Italy-M[%]"/>
<entry key="99" type="xstring" value="region-share_energy_Italy_Italy-S[%]"/>
<entry key="100" type="xstring" value="region-share_energy_United Kingdom_United Kingdom-N[%]"/>
<entry key="101" type="xstring" value="region-share_energy_United Kingdom_United Kingdom-M[%]"/>
<entry key="102" type="xstring" value="region-share_energy_United Kingdom_United Kingdom-S[%]"/>
<entry key="103" type="xstring" value="region-share_energy_Spain_Spain-S[%]"/>
<entry key="104" type="xstring" value="region-share_energy_Spain_Spain-NW[%]"/>
<entry key="105" type="xstring" value="region-share_energy_Spain_Spain-Ebro[%]"/>
<entry key="106" type="xstring" value="region-share_energy_Germany_Germany-Rhine[%]"/>
<entry key="107" type="xstring" value="region-share_energy_Germany_Germany-Danube[%]"/>
<entry key="108" type="xstring" value="region-share_energy_Germany_German-ElbeOder[%]"/>
<entry key="109" type="xstring" value="region-share_industry_unit[%]"/>
<entry key="110" type="xstring" value="region-share_industry_France_France-N[%]"/>
<entry key="111" type="xstring" value="region-share_industry_France_France-S[%]"/>
<entry key="112" type="xstring" value="region-share_industry_Greece_Greece-N[%]"/>
<entry key="113" type="xstring" value="region-share_industry_Greece_Greece-S[%]"/>
<entry key="114" type="xstring" value="region-share_industry_Italy_Italy-N[%]"/>
<entry key="115" type="xstring" value="region-share_industry_Italy_Italy-M[%]"/>
<entry key="116" type="xstring" value="region-share_industry_Italy_Italy-S[%]"/>
<entry key="117" type="xstring" value="region-share_industry_United Kingdom_United Kingdom-N[%]"/>
<entry key="118" type="xstring" value="region-share_industry_United Kingdom_United Kingdom-M[%]"/>
<entry key="119" type="xstring" value="region-share_industry_United Kingdom_United Kingdom-S[%]"/>
<entry key="120" type="xstring" value="region-share_industry_Spain_Spain-S[%]"/>
<entry key="121" type="xstring" value="region-share_industry_Spain_Spain-NW[%]"/>
<entry key="122" type="xstring" value="region-share_industry_Spain_Spain-Ebro[%]"/>
<entry key="123" type="xstring" value="region-share_industry_Germany_Germany-Rhine[%]"/>
<entry key="124" type="xstring" value="region-share_industry_Germany_Germany-Danube[%]"/>
<entry key="125" type="xstring" value="region-share_industry_Germany_German-ElbeOder[%]"/>
<entry key="126" type="xstring" value="region-share_irrigation_unit[%]"/>
<entry key="127" type="xstring" value="region-share_irrigation_France_France-N[%]"/>
<entry key="128" type="xstring" value="region-share_irrigation_France_France-S[%]"/>
<entry key="129" type="xstring" value="region-share_irrigation_Greece_Greece-N[%]"/>
<entry key="130" type="xstring" value="region-share_irrigation_Greece_Greece-S[%]"/>
<entry key="131" type="xstring" value="region-share_irrigation_Italy_Italy-N[%]"/>
<entry key="132" type="xstring" value="region-share_irrigation_Italy_Italy-M[%]"/>
<entry key="133" type="xstring" value="region-share_irrigation_Italy_Italy-S[%]"/>
<entry key="134" type="xstring" value="region-share_irrigation_United Kingdom_United Kingdom-N[%]"/>
<entry key="135" type="xstring" value="region-share_irrigation_United Kingdom_United Kingdom-M[%]"/>
<entry key="136" type="xstring" value="region-share_irrigation_United Kingdom_United Kingdom-S[%]"/>
<entry key="137" type="xstring" value="region-share_irrigation_Spain_Spain-S[%]"/>
<entry key="138" type="xstring" value="region-share_irrigation_Spain_Spain-NW[%]"/>
<entry key="139" type="xstring" value="region-share_irrigation_Spain_Spain-Ebro[%]"/>
<entry key="140" type="xstring" value="region-share_irrigation_Germany_Germany-Rhine[%]"/>
<entry key="141" type="xstring" value="region-share_irrigation_Germany_Germany-Danube[%]"/>
<entry key="142" type="xstring" value="region-share_irrigation_Germany_German-ElbeOder[%]"/>
<entry key="143" type="xstring" value="region-share_climate_unit[%]"/>
<entry key="144" type="xstring" value="region-share_climate_France_France-N[%]"/>
<entry key="145" type="xstring" value="region-share_climate_France_France-S[%]"/>
<entry key="146" type="xstring" value="region-share_climate_Greece_Greece-N[%]"/>
<entry key="147" type="xstring" value="region-share_climate_Greece_Greece-S[%]"/>
<entry key="148" type="xstring" value="region-share_climate_Italy_Italy-N[%]"/>
<entry key="149" type="xstring" value="region-share_climate_Italy_Italy-M[%]"/>
<entry key="150" type="xstring" value="region-share_climate_Italy_Italy-S[%]"/>
<entry key="151" type="xstring" value="region-share_climate_United Kingdom_United Kingdom-N[%]"/>
<entry key="152" type="xstring" value="region-share_climate_United Kingdom_United Kingdom-M[%]"/>
<entry key="153" type="xstring" value="region-share_climate_United Kingdom_United Kingdom-S[%]"/>
<entry key="154" type="xstring" value="region-share_climate_Spain_Spain-S[%]"/>
<entry key="155" type="xstring" value="region-share_climate_Spain_Spain-NW[%]"/>
<entry key="156" type="xstring" value="region-share_climate_Spain_Spain-Ebro[%]"/>
<entry key="157" type="xstring" value="region-share_climate_Germany_Germany-Rhine[%]"/>
<entry key="158" type="xstring" value="region-share_climate_Germany_Germany-Danube[%]"/>
<entry key="159" type="xstring" value="region-share_climate_Germany_German-ElbeOder[%]"/>
<entry key="160" type="xstring" value="regional-ratio_irrigation_unit[%]"/>
<entry key="161" type="xstring" value="regional-ratio_irrigation_Europe-World[%]"/>
<entry key="162" type="xstring" value="RowID"/>
<entry key="163" type="xstring" value="db_schema"/>
<entry key="164" type="xstring" value="db_table_cube_output"/>
<entry key="165" type="xstring" value="db_table_output"/>
<entry key="166" type="xstring" value="db_port"/>
<entry key="167" type="xstring" value="db_host"/>
<entry key="168" type="xstring" value="test_mode"/>
<entry key="169" type="xstring" value="country_filter"/>
<entry key="170" type="xstring" value="disable_graphics"/>
<entry key="171" type="xstring" value="module"/>
<entry key="172" type="xstring" value="baseyear"/>
<entry key="173" type="xstring" value="lever_discount"/>
<entry key="174" type="xstring" value="lever_temp"/>
<entry key="175" type="xstring" value="lever_material-net-import"/>
<entry key="176" type="xstring" value="lever_product-net-import"/>
<entry key="177" type="xstring" value="lever_food-net-import"/>
<entry key="178" type="xstring" value="lever_ems-after-2050"/>
<entry key="179" type="xstring" value="lever_urbpop"/>
<entry key="180" type="xstring" value="lever_pop"/>
<entry key="181" type="xstring" value="lever_land-prioritisation"/>
<entry key="182" type="xstring" value="lever_biodiversity"/>
<entry key="183" type="xstring" value="lever_biomass-hierarchy"/>
<entry key="184" type="xstring" value="lever_land-man"/>
<entry key="185" type="xstring" value="lever_climate-smart-forestry"/>
<entry key="186" type="xstring" value="lever_alt-protein"/>
<entry key="187" type="xstring" value="lever_climate-smart-fisheries"/>
<entry key="188" type="xstring" value="lever_climate-smart-livestock"/>
<entry key="189" type="xstring" value="lever_climate-smart-crop"/>
<entry key="190" type="xstring" value="lever_bal-strat"/>
<entry key="191" type="xstring" value="lever_capacity_RES_other"/>
<entry key="192" type="xstring" value="lever_capacity_RES_solar"/>
<entry key="193" type="xstring" value="lever_capacity_RES_wind"/>
<entry key="194" type="xstring" value="lever_capacity_nuclear"/>
<entry key="195" type="xstring" value="lever_ccs"/>
<entry key="196" type="xstring" value="lever_decom_fossil"/>
<entry key="197" type="xstring" value="lever_ccus"/>
<entry key="198" type="xstring" value="lever_cc"/>
<entry key="199" type="xstring" value="lever_energy-carrier-mix"/>
<entry key="200" type="xstring" value="lever_technology-development"/>
<entry key="201" type="xstring" value="lever_technology-share"/>
<entry key="202" type="xstring" value="lever_material-switch"/>
<entry key="203" type="xstring" value="lever_material-efficiency"/>
<entry key="204" type="xstring" value="lever_appliance-efficiency"/>
<entry key="205" type="xstring" value="lever_nonres-floorarea"/>
<entry key="206" type="xstring" value="lever_heatcool-efficiency"/>
<entry key="207" type="xstring" value="lever_heatcool-technology-fuel"/>
<entry key="208" type="xstring" value="lever_district-heating-share"/>
<entry key="209" type="xstring" value="lever_building-renovation-rate"/>
<entry key="210" type="xstring" value="lever_fuel-mix_efuel"/>
<entry key="211" type="xstring" value="lever_fuel-mix_biofuel-aviation"/>
<entry key="212" type="xstring" value="lever_fuel-mix_biofuel-marine"/>
<entry key="213" type="xstring" value="lever_fuel-mix_biofuel-road"/>
<entry key="214" type="xstring" value="lever_freight_utilization-rate"/>
<entry key="215" type="xstring" value="lever_freight_load-factor"/>
<entry key="216" type="xstring" value="lever_freight_modal-share"/>
<entry key="217" type="xstring" value="lever_freight_technology-share_new"/>
<entry key="218" type="xstring" value="lever_freight_vehicle-efficiency_new"/>
<entry key="219" type="xstring" value="lever_passenger_technology-share_new"/>
<entry key="220" type="xstring" value="lever_passenger_veh-efficiency_new"/>
<entry key="221" type="xstring" value="lever_freight_tkm"/>
<entry key="222" type="xstring" value="lever_fwaste"/>
<entry key="223" type="xstring" value="lever_product-substitution-rate"/>
<entry key="224" type="xstring" value="lever_paperpack"/>
<entry key="225" type="xstring" value="lever_diet"/>
<entry key="226" type="xstring" value="lever_kcal-req"/>
<entry key="227" type="xstring" value="lever_appliance-use"/>
<entry key="228" type="xstring" value="lever_appliance-own"/>
<entry key="229" type="xstring" value="lever_heatcool-behaviour"/>
<entry key="230" type="xstring" value="lever_floor-area-fraction"/>
<entry key="231" type="xstring" value="lever_floor-intensity"/>
<entry key="232" type="xstring" value="lever_passenger_utilization-rate"/>
<entry key="233" type="xstring" value="lever_passenger_occupancy"/>
<entry key="234" type="xstring" value="lever_passenger_modal-share"/>
<entry key="235" type="xstring" value="lever_pkm"/>
<entry key="236" type="xstring" value="ef_unit[tCO2/t]"/>
<entry key="237" type="xstring" value="ef_liming[tCO2/t]"/>
<entry key="238" type="xstring" value="ef_urea[tCO2/t]"/>
<entry key="239" type="xstring" value="ibp_liv_unit[kcal/lsu]"/>
<entry key="240" type="xstring" value="ibp_liv_bovine_brf_fdk_afat[kcal/lsu]"/>
<entry key="241" type="xstring" value="ibp_liv_sheep_brf_fdk_afat[kcal/lsu]"/>
<entry key="242" type="xstring" value="ibp_liv_pig_brf_fdk_afat[kcal/lsu]"/>
<entry key="243" type="xstring" value="ibp_liv_poultry_brf_fdk_afat[kcal/lsu]"/>
<entry key="244" type="xstring" value="ibp_liv_bovine_brf_fdk_offal[kcal/lsu]"/>
<entry key="245" type="xstring" value="ibp_liv_sheep_brf_fdk_offal[kcal/lsu]"/>
<entry key="246" type="xstring" value="ibp_liv_pig_brf_fdk_offal[kcal/lsu]"/>
<entry key="247" type="xstring" value="ibp_liv_poultry_brf_fdk_offal[kcal/lsu]"/>
<entry key="248" type="xstring" value="ibp_liv_oth-animals_brf_fdk_afat[kcal/lsu]"/>
<entry key="249" type="xstring" value="ibp_liv_oth-animals_brf_fdk_offal[kcal/lsu]"/>
<entry key="250" type="xstring" value="efficiency_liv_unit[%]"/>
<entry key="251" type="xstring" value="efficiency_liv_meat_bovine[%]"/>
<entry key="252" type="xstring" value="efficiency_liv_meat_sheep[%]"/>
<entry key="253" type="xstring" value="efficiency_liv_meat_pig[%]"/>
<entry key="254" type="xstring" value="efficiency_liv_meat_poultry[%]"/>
<entry key="255" type="xstring" value="efficiency_liv_meat_oth-animals[%]"/>
<entry key="256" type="xstring" value="efficiency_liv_abp_hens-egg[%]"/>
<entry key="257" type="xstring" value="efficiency_liv_abp_dairy-milk[%]"/>
<entry key="258" type="xstring" value="ibp_aps_unit[%]"/>
<entry key="259" type="xstring" value="ibp_aps_algae_brf_crop_algae[%]"/>
<entry key="260" type="xstring" value="ibp_aps_algae_brf_fdk_voil[%]"/>
<entry key="261" type="xstring" value="ibp_aps_insect_brf_fdk_voil[%]"/>
<entry key="262" type="xstring" value="ibp_aps_insect_brf_crop_insect[%]"/>
<entry key="263" type="xstring" value="ibp_aps_insect_brf_fdk_manure[%]"/>
<entry key="264" type="xstring" value="ibp_bev_unit[%]"/>
<entry key="265" type="xstring" value="ibp_bev_wine_brf_fdk_marc[%]"/>
<entry key="266" type="xstring" value="ibp_bev_wine_brf_fdk_lees[%]"/>
<entry key="267" type="xstring" value="ibp_bev_wine_brf_crop_grape[%]"/>
<entry key="268" type="xstring" value="ibp_bev_beer_brf_fdk_yeast[%]"/>
<entry key="269" type="xstring" value="ibp_bev_beer_brf_fdk_cereal[%]"/>
<entry key="270" type="xstring" value="ibp_bev_beer_brf_crop_cereal[%]"/>
<entry key="271" type="xstring" value="ibp_bev_bev-alc_brf_crop_fruit[%]"/>
<entry key="272" type="xstring" value="ibp_bev_bev-fer_brf_crop_cereal[%]"/>
<entry key="273" type="xstring" value="liquid_tec_unit[kcal/TWh]"/>
<entry key="274" type="xstring" value="liquid_tec_biodiesel_btl_fdk_lgn[kcal/TWh]"/>
<entry key="275" type="xstring" value="liquid_tec_jetfuel_btl_fdk_lgn[kcal/TWh]"/>
<entry key="276" type="xstring" value="liquid_tec_ethanol_ezm_fdk_lgn[kcal/TWh]"/>
<entry key="277" type="xstring" value="liquid_tec_biodiesel_hvo_fdk_oil[kcal/TWh]"/>
<entry key="278" type="xstring" value="liquid_tec_jetfuel_hvo_fdk_oil[kcal/TWh]"/>
<entry key="279" type="xstring" value="liquid_tec_biodiesel_est_fdk_oil[kcal/TWh]"/>
<entry key="280" type="xstring" value="liquid_tec_ethanol_fer_fdk_eth[kcal/TWh]"/>
<entry key="281" type="xstring" value="ibp_bio_conv_unit[kcal/kcal]"/>
<entry key="282" type="xstring" value="ibp_bio_conv_voil_oilcrop_brf_cakes[kcal/kcal]"/>
<entry key="283" type="xstring" value="ibp_bio_conv_eth_cereal_brf_ddgs[kcal/kcal]"/>
<entry key="284" type="xstring" value="ibp_bio_conv_eth_sugarcrop_brf_pulp[kcal/kcal]"/>
<entry key="285" type="xstring" value="gas_tec_unit[kcal/TWh]"/>
<entry key="286" type="xstring" value="gas_tec_gas_energycrop[kcal/TWh]"/>
<entry key="287" type="xstring" value="lbp_unit[t/kcal]"/>
<entry key="288" type="xstring" value="lbp_bovine_split_c1_afats[t/kcal]"/>
<entry key="289" type="xstring" value="lbp_bovine_split_c1_proteins[t/kcal]"/>
<entry key="290" type="xstring" value="lbp_bovine_split_c2_afats[t/kcal]"/>
<entry key="291" type="xstring" value="lbp_bovine_split_c2_proteins[t/kcal]"/>
<entry key="292" type="xstring" value="lbp_bovine_split_c3_afats[t/kcal]"/>
<entry key="293" type="xstring" value="lbp_bovine_split_c3_proteins[t/kcal]"/>
<entry key="294" type="xstring" value="lbp_sheep_split_c1_afats[t/kcal]"/>
<entry key="295" type="xstring" value="lbp_sheep_split_c1_proteins[t/kcal]"/>
<entry key="296" type="xstring" value="lbp_sheep_split_c2_afats[t/kcal]"/>
<entry key="297" type="xstring" value="lbp_sheep_split_c2_proteins[t/kcal]"/>
<entry key="298" type="xstring" value="lbp_sheep_split_c3_afats[t/kcal]"/>
<entry key="299" type="xstring" value="lbp_sheep_split_c3_proteins[t/kcal]"/>
<entry key="300" type="xstring" value="lbp_pig_split_c2_afats[t/kcal]"/>
<entry key="301" type="xstring" value="lbp_pig_split_c2_proteins[t/kcal]"/>
<entry key="302" type="xstring" value="lbp_pig_split_c3_afats[t/kcal]"/>
<entry key="303" type="xstring" value="lbp_pig_split_c3_proteins[t/kcal]"/>
<entry key="304" type="xstring" value="lbp_poultry_split_c1_afats[t/kcal]"/>
<entry key="305" type="xstring" value="lbp_poultry_split_c1_proteins[t/kcal]"/>
<entry key="306" type="xstring" value="lbp_poultry_split_c2_afats[t/kcal]"/>
<entry key="307" type="xstring" value="lbp_poultry_split_c2_proteins[t/kcal]"/>
<entry key="308" type="xstring" value="lbp_poultry_split_c3_afats[t/kcal]"/>
<entry key="309" type="xstring" value="lbp_poultry_split_c3_proteins[t/kcal]"/>
<entry key="310" type="xstring" value="lbp_oth-animals_split_c1_afats[t/kcal]"/>
<entry key="311" type="xstring" value="lbp_oth-animals_split_c1_proteins[t/kcal]"/>
<entry key="312" type="xstring" value="lbp_oth-animals_split_c2_afats[t/kcal]"/>
<entry key="313" type="xstring" value="lbp_oth-animals_split_c2_proteins[t/kcal]"/>
<entry key="314" type="xstring" value="lbp_oth-animals_split_c3_afats[t/kcal]"/>
<entry key="315" type="xstring" value="lbp_oth-animals_split_c3_proteins[t/kcal]"/>
<entry key="316" type="xstring" value="residues_yields_unit[%]"/>
<entry key="317" type="xstring" value="residues_yields_cereal[%]"/>
<entry key="318" type="xstring" value="residues_yields_oilcrops[%]"/>
<entry key="319" type="xstring" value="ecf_unit[kcal/t]"/>
<entry key="320" type="xstring" value="ecf_energycrop[kcal/t]"/>
<entry key="321" type="xstring" value="land_alloc_unit[%]"/>
<entry key="322" type="xstring" value="land_alloc_algae_feed[%]"/>
<entry key="323" type="xstring" value="land_alloc_algae_energy[%]"/>
<entry key="324" type="xstring" value="land_alloc_insect_feed[%]"/>
<entry key="325" type="xstring" value="land_alloc_insect_energy[%]"/>
<entry key="326" type="xstring" value="cf_fst_bio_unit[Mm3/TWh]"/>
<entry key="327" type="xstring" value="cf_fst_bio_wood-fuel[Mm3/TWh]"/>
<entry key="328" type="xstring" value="cf_fst_mat_unit[kt/Mm3]"/>
<entry key="329" type="xstring" value="cf_fst_mat_pulp[kt/Mm3]"/>
<entry key="330" type="xstring" value="cf_fst_mat_sawlogs[kt/Mm3]"/>
<entry key="331" type="xstring" value="cf_fst_mat_other-wood[kt/Mm3]"/>
<entry key="332" type="xstring" value="ef_fertilizer_unit[Mt/t]"/>
<entry key="333" type="xstring" value="ef_fertilizer_N2O-emission[Mt/t]"/>
<entry key="334" type="xstring" value="ibp_processed_unit[%]"/>
<entry key="335" type="xstring" value="ibp_processed_voil_to_oilcrop[%]"/>
<entry key="336" type="xstring" value="ibp_processed_sweet_to_sugarcrop[%]"/>
<entry key="337" type="xstring" value="ibp_processed_sugar_to_sugarcrop[%]"/>
<entry key="338" type="xstring" value="ibp_processed_cake_to_oilcrop[%]"/>
<entry key="339" type="xstring" value="ibp_processed_molasse_to_sugarcrop[%]"/>
<entry key="340" type="xstring" value="ibp_feed_unit[%]"/>
<entry key="341" type="xstring" value="ibp_feed_voil_to_oilcrop[%]"/>
<entry key="342" type="xstring" value="ibp_feed_cake_to_oilcrop[%]"/>
<entry key="343" type="xstring" value="ibp_feed_molasse_to_sugarcrop[%]"/>
<entry key="344" type="xstring" value="ibp_feed_sugar_to_sugarcrop[%]"/>
<entry key="345" type="xstring" value="ibp_pro_unit[%]"/>
<entry key="346" type="xstring" value="ibp_pro_voil_feed_crop_oilcrop[%]"/>
<entry key="347" type="xstring" value="ibp_pro_cake_feed_crop_oilcrop[%]"/>
<entry key="348" type="xstring" value="ibp_pro_sugar_feed_crop_sugarcrop[%]"/>
<entry key="349" type="xstring" value="ibp_pro_sweet_feed_crop_sugarcrop[%]"/>
<entry key="350" type="xstring" value="ibp_pro_molasse_feed_crop_sugarcrop[%]"/>
<entry key="351" type="xstring" value="ibp_pro_fish-meals_feed_fish_ffish[%]"/>
<entry key="352" type="xstring" value="ibp_pro_voil_food_crop_oilcrop[%]"/>
<entry key="353" type="xstring" value="ibp_pro_sugar_food_crop_sugarcrop[%]"/>
<entry key="354" type="xstring" value="ibp_pro_sweet_food_crop_sugarcrop[%]"/>
<entry key="355" type="xstring" value="ibp_bio_unit[TWh/TWh]"/>
<entry key="356" type="xstring" value="ibp_bio_ethanol_fer_brf_cake_sgr[TWh/TWh]"/>
<entry key="357" type="xstring" value="ibp_bio_biodiesel_hvo_brf_cake[TWh/TWh]"/>
<entry key="358" type="xstring" value="ibp_bio_biodiesel_est_brf_crop_oil[TWh/TWh]"/>
<entry key="359" type="xstring" value="ibp_bio_biodisel_btx_brf_crop_lgn[TWh/TWh]"/>
<entry key="360" type="xstring" value="ibp_bio_biodiesel_hvo_brf_crop_oil[TWh/TWh]"/>
<entry key="361" type="xstring" value="ibp_bio_biodiesel_est_brf_crop_oil.1[TWh/TWh]"/>
<entry key="362" type="xstring" value="ibp_bio_ethanol_ezm_brf_crop_lgn[TWh/TWh]"/>
<entry key="363" type="xstring" value="ibp_bio_ethanol_fer_brf_crop_sgr[TWh/TWh]"/>
<entry key="364" type="xstring" value="ibp_bio_biodiesel_btx_brf_fdk_bionaphta[TWh/TWh]"/>
<entry key="365" type="xstring" value="ibp_bio_biodiesel_hvo_brf_fdk_bionaphta[TWh/TWh]"/>
<entry key="366" type="xstring" value="ibp_bio_biodiesel_hvo_brf_fdk_propane[TWh/TWh]"/>
<entry key="367" type="xstring" value="ibp_bio_biodiesel_est_brf_fdk_glycerin[TWh/TWh]"/>
<entry key="368" type="xstring" value="ibp_bio_ethanol_ezm_brf_fdk_lignin[TWh/TWh]"/>
<entry key="369" type="xstring" value="bp_bev_unit[%]"/>
<entry key="370" type="xstring" value="bp_bev_wine_marc[%]"/>
<entry key="371" type="xstring" value="bp_bev_wine_lees[%]"/>
<entry key="372" type="xstring" value="bp_bev_wine_grappes-crop[%]"/>
<entry key="373" type="xstring" value="bp_bev_beer_barley-crop[%]"/>
<entry key="374" type="xstring" value="bp_bev_beer_cereal-meals[%]"/>
<entry key="375" type="xstring" value="bp_bev_beer_yees[%]"/>
<entry key="376" type="xstring" value="bp_bev_bev-fer_barley-crop[%]"/>
<entry key="377" type="xstring" value="bp_bev_bev-alc_fruits-crop[%]"/>
<entry key="378" type="xstring" value="pgai_unit[%]"/>
<entry key="379" type="xstring" value="pgai_young_low[%]"/>
<entry key="380" type="xstring" value="pgai_mature_low[%]"/>
<entry key="381" type="xstring" value="pgai_young_medium[%]"/>
<entry key="382" type="xstring" value="pgai_mature_medium[%]"/>
<entry key="383" type="xstring" value="soil-emission-factors_unit[tCO2e/ha/an]"/>
<entry key="384" type="xstring" value="soil-emission-factors_cropland_conv[tCO2e/ha/an]"/>
<entry key="385" type="xstring" value="soil-emission-factors_cropland_ca[tCO2e/ha/an]"/>
<entry key="386" type="xstring" value="soil-emission-factors_forest_young[tCO2e/ha/an]"/>
<entry key="387" type="xstring" value="soil-emission-factors_forest_mature[tCO2e/ha/an]"/>
<entry key="388" type="xstring" value="soil-emission-factors_grassland_young[tCO2e/ha/an]"/>
<entry key="389" type="xstring" value="soil-emission-factors_grassland_mature[tCO2e/ha/an]"/>
<entry key="390" type="xstring" value="biomass-emission-factors_unit[tCO2e/ha/an]"/>
<entry key="391" type="xstring" value="biomass-emission-factors_cropland_conv[tCO2e/ha/an]"/>
<entry key="392" type="xstring" value="biomass-emission-factors_cropland_ca[tCO2e/ha/an]"/>
<entry key="393" type="xstring" value="biomass-emission-factors_forest_young[tCO2e/ha/an]"/>
<entry key="394" type="xstring" value="biomass-emission-factors_forest_mature[tCO2e/ha/an]"/>
<entry key="395" type="xstring" value="biomass-emission-factors_grassland_young[tCO2e/ha/an]"/>
<entry key="396" type="xstring" value="biomass-emission-factors_grassland_mature[tCO2e/ha/an]"/>
<entry key="397" type="xstring" value="forest_unit[%]"/>
<entry key="398" type="xstring" value="forest_growth[%]"/>
<entry key="399" type="xstring" value="biorefinery_yield_unit[tons/TWh]"/>
<entry key="400" type="xstring" value="biorefinery_yield_btx_bionaphta[tons/TWh]"/>
<entry key="401" type="xstring" value="biorefinery_yield_hvo_bionaphta[tons/TWh]"/>
<entry key="402" type="xstring" value="biorefinery_yield_est_glycerin[tons/TWh]"/>
<entry key="403" type="xstring" value="biorefinery_yield_ezm_lignin[tons/TWh]"/>
<entry key="404" type="xstring" value="bioenergy_yield_unit[TWh/TWh]"/>
<entry key="405" type="xstring" value="bioenergy_yield_btx_lgn[TWh/TWh]"/>
<entry key="406" type="xstring" value="bioenergy_yield_hvo_oil[TWh/TWh]"/>
<entry key="407" type="xstring" value="bioenergy_yield_est_oil[TWh/TWh]"/>
<entry key="408" type="xstring" value="bioenergy_yield_ezm_lgn[TWh/TWh]"/>
<entry key="409" type="xstring" value="bioenergy_yield_fer_sgr[TWh/TWh]"/>
<entry key="410" type="xstring" value="bioenergy_yield_btx_bionaphta[TWh/TWh]"/>
<entry key="411" type="xstring" value="bioenergy_yield_hvo_bionaphta[TWh/TWh]"/>
<entry key="412" type="xstring" value="bioenergy_yield_hvo_propane[TWh/TWh]"/>
<entry key="413" type="xstring" value="bioenergy_yield_est_glycerin[TWh/TWh]"/>
<entry key="414" type="xstring" value="bioenergy_yield_ezm_lignin[TWh/TWh]"/>
<entry key="415" type="xstring" value="meals-yield_unit[%]"/>
<entry key="416" type="xstring" value="meals-yield_algae-crop[%]"/>
<entry key="417" type="xstring" value="meals-yield_algae-voil[%]"/>
<entry key="418" type="xstring" value="meals-yield_insect-crop[%]"/>
<entry key="419" type="xstring" value="meals-yield_insect-oil[%]"/>
<entry key="420" type="xstring" value="meals-yield_insect-manure[%]"/>
<entry key="421" type="xstring" value="meals-yield_cereal-crop[%]"/>
<entry key="422" type="xstring" value="meals-yield_oilcrops-crop[%]"/>
<entry key="423" type="xstring" value="meals-yield_cereal-ethanol[%]"/>
<entry key="424" type="xstring" value="meals-yield_oilcrops-voil[%]"/>
<entry key="425" type="xstring" value="biorefinery_bp_unit[tons/tons]"/>
<entry key="426" type="xstring" value="biorefinery_bp_biomass_algae[tons/tons]"/>
<entry key="427" type="xstring" value="biorefinery_bp_oil_algae[tons/tons]"/>
<entry key="428" type="xstring" value="biorefinery_bp_biomass_insect[tons/tons]"/>
<entry key="429" type="xstring" value="biorefinery_bp_oil_insect[tons/tons]"/>
<entry key="430" type="xstring" value="biorefinery_bp_manure_insect[tons/tons]"/>
<entry key="431" type="xstring" value="biorefinery_bp_oil-meals_oilcrops[tons/tons]"/>
<entry key="432" type="xstring" value="biorefinery_bp_grains_oilcrops[tons/tons]"/>
<entry key="433" type="xstring" value="biorefinery_bp_grains_cereals[tons/tons]"/>
<entry key="434" type="xstring" value="biorefinery_bp_fodder_cereals[tons/tons]"/>
<entry key="435" type="xstring" value="biorefinery_bp_fodder_oilcrops[tons/tons]"/>
<entry key="436" type="xstring" value="shouse_unit[tons/#]"/>
<entry key="437" type="xstring" value="shouse_bov_afats[tons/#]"/>
<entry key="438" type="xstring" value="shouse_sheep_afats[tons/#]"/>
<entry key="439" type="xstring" value="shouse_pigs_afats[tons/#]"/>
<entry key="440" type="xstring" value="shouse_poultry_afats[tons/#]"/>
<entry key="441" type="xstring" value="shouse_oth-animals_afats[tons/#]"/>
<entry key="442" type="xstring" value="shouse_bov_offal[tons/#]"/>
<entry key="443" type="xstring" value="shouse_sheep_offal[tons/#]"/>
<entry key="444" type="xstring" value="shouse_pigs_offal[tons/#]"/>
<entry key="445" type="xstring" value="shouse_poultry_offal[tons/#]"/>
<entry key="446" type="xstring" value="shouse_oth-animals_offal[tons/#]"/>
<entry key="447" type="xstring" value="shouse_bov_manure[tons/#]"/>
<entry key="448" type="xstring" value="shouse_sheep_manure[tons/#]"/>
<entry key="449" type="xstring" value="shouse_pigs_manure[tons/#]"/>
<entry key="450" type="xstring" value="shouse_poultry_manure[tons/#]"/>
<entry key="451" type="xstring" value="shouse_oth-animals_manure[tons/#]"/>
<entry key="452" type="xstring" value="shouse_dairy_feed[tons/#]"/>
<entry key="453" type="xstring" value="shouse_bov_feed[tons/#]"/>
<entry key="454" type="xstring" value="shouse_sheep_feed[tons/#]"/>
<entry key="455" type="xstring" value="shouse_pigs_feed[tons/#]"/>
<entry key="456" type="xstring" value="shouse_poultry_feed[tons/#]"/>
<entry key="457" type="xstring" value="shouse_oth-animals_feed[tons/#]"/>
<entry key="458" type="xstring" value="conv-factors_lsu_unit[lsu/#]"/>
<entry key="459" type="xstring" value="conv-factors_lsu_bov[lsu/#]"/>
<entry key="460" type="xstring" value="conv-factors_lsu_sheep[lsu/#]"/>
<entry key="461" type="xstring" value="conv-factors_lsu_pigs[lsu/#]"/>
<entry key="462" type="xstring" value="conv-factors_lsu_poultry[lsu/#]"/>
<entry key="463" type="xstring" value="conv-factors_lsu_oth-animals[lsu/#]"/>
<entry key="464" type="xstring" value="conv-factors_energy_unit[#/#]"/>
<entry key="465" type="xstring" value="conv-factors_energy_koe/TWh[#/#]"/>
<entry key="466" type="xstring" value="conv-factors_food_unit[kcal/tonnes]"/>
<entry key="467" type="xstring" value="conv-factors_food_bov[kcal/tonnes]"/>
<entry key="468" type="xstring" value="conv-factors_food_sheep[kcal/tonnes]"/>
<entry key="469" type="xstring" value="conv-factors_food_pigs[kcal/tonnes]"/>
<entry key="470" type="xstring" value="conv-factors_food_poultry[kcal/tonnes]"/>
<entry key="471" type="xstring" value="conv-factors_food_oth-animals[kcal/tonnes]"/>
<entry key="472" type="xstring" value="conv-factors_food_offal[kcal/tonnes]"/>
<entry key="473" type="xstring" value="conv-factors_food_egg[kcal/tonnes]"/>
<entry key="474" type="xstring" value="conv-factors_food_milk[kcal/tonnes]"/>
<entry key="475" type="xstring" value="conv-factors_food_afats[kcal/tonnes]"/>
<entry key="476" type="xstring" value="conv-factors_food_stm[kcal/tonnes]"/>
<entry key="477" type="xstring" value="conv-factors_food_tea[kcal/tonnes]"/>
<entry key="478" type="xstring" value="conv-factors_food_coffee[kcal/tonnes]"/>
<entry key="479" type="xstring" value="conv-factors_food_wine[kcal/tonnes]"/>
<entry key="480" type="xstring" value="conv-factors_food_beer[kcal/tonnes]"/>
<entry key="481" type="xstring" value="conv-factors_food_bev-fer[kcal/tonnes]"/>
<entry key="482" type="xstring" value="conv-factors_food_bev-alc[kcal/tonnes]"/>
<entry key="483" type="xstring" value="conv-factors_food_cereals[kcal/tonnes]"/>
<entry key="484" type="xstring" value="conv-factors_food_fruits[kcal/tonnes]"/>
<entry key="485" type="xstring" value="conv-factors_food_oilcrops[kcal/tonnes]"/>
<entry key="486" type="xstring" value="conv-factors_food_pulses[kcal/tonnes]"/>
<entry key="487" type="xstring" value="conv-factors_food_starch[kcal/tonnes]"/>
<entry key="488" type="xstring" value="conv-factors_food_sweet[kcal/tonnes]"/>
<entry key="489" type="xstring" value="conv-factors_food_sugar[kcal/tonnes]"/>
<entry key="490" type="xstring" value="conv-factors_food_voil[kcal/tonnes]"/>
<entry key="491" type="xstring" value="conv-factors_food_veg[kcal/tonnes]"/>
<entry key="492" type="xstring" value="conv-factors_food_wheat[kcal/tonnes]"/>
<entry key="493" type="xstring" value="conv-factors_food_rye[kcal/tonnes]"/>
<entry key="494" type="xstring" value="conv-factors_food_barley[kcal/tonnes]"/>
<entry key="495" type="xstring" value="conv-factors_food_sugarcrops[kcal/tonnes]"/>
<entry key="496" type="xstring" value="conv-factors_food_maize[kcal/tonnes]"/>
<entry key="497" type="xstring" value="conv-factors_food_oats[kcal/tonnes]"/>
<entry key="498" type="xstring" value="conv-factors_food_brans[kcal/tonnes]"/>
<entry key="499" type="xstring" value="conv-factors_food_dfish[kcal/tonnes]"/>
<entry key="500" type="xstring" value="conv-factors_food_ffish[kcal/tonnes]"/>
<entry key="501" type="xstring" value="conv-factors_food_pfish[kcal/tonnes]"/>
<entry key="502" type="xstring" value="conv-factors_food_seafood[kcal/tonnes]"/>
<entry key="503" type="xstring" value="conv-factors_food_oth-aq-animals[kcal/tonnes]"/>
<entry key="504" type="xstring" value="conv-factors_food_fish-meals[kcal/tonnes]"/>
<entry key="505" type="xstring" value="conv-factors_food_algae-meals[kcal/tonnes]"/>
<entry key="506" type="xstring" value="conv-factors_food_insect-meals[kcal/tonnes]"/>
<entry key="507" type="xstring" value="conv-factors_food_oil-meals[kcal/tonnes]"/>
<entry key="508" type="xstring" value="conv-factors_food_grains[kcal/tonnes]"/>
<entry key="509" type="xstring" value="conv-factors_food_fodder[kcal/tonnes]"/>
<entry key="510" type="xstring" value="conv-factors_food_cake[kcal/tonnes]"/>
<entry key="511" type="xstring" value="conv-factors_food_grapes[kcal/tonnes]"/>
<entry key="512" type="xstring" value="conv-factors_food_molasses[kcal/tonnes]"/>
<entry key="513" type="xstring" value="conv-factors_crop_unit[TWh/tons]"/>
<entry key="514" type="xstring" value="conv-factors_crop_soyabean[TWh/tons]"/>
<entry key="515" type="xstring" value="conv-factors_crop_palm[TWh/tons]"/>
<entry key="516" type="xstring" value="conv-factors_crop_sunflower[TWh/tons]"/>
<entry key="517" type="xstring" value="conv-factors_crop_rapeseed[TWh/tons]"/>
<entry key="518" type="xstring" value="conv-factors_crop_uco[TWh/tons]"/>
<entry key="519" type="xstring" value="conv-factors_crop_afats[TWh/tons]"/>
<entry key="520" type="xstring" value="conv-factors_crop_maize[TWh/tons]"/>
<entry key="521" type="xstring" value="conv-factors_crop_sugar-crops[TWh/tons]"/>
<entry key="522" type="xstring" value="conv-factors_crop_wheat[TWh/tons]"/>
<entry key="523" type="xstring" value="conv-factors_crop_sugar_oth[TWh/tons]"/>
<entry key="524" type="xstring" value="CO2e-emissionfactor_unit[Gt/EJ]"/>
<entry key="525" type="xstring" value="CO2e-emissionfactor_HDVL_ICE-diesel[Gt/EJ]"/>
<entry key="526" type="xstring" value="CO2e-emissionfactor_HDVL_ICE-gasoline[Gt/EJ]"/>
<entry key="527" type="xstring" value="CO2e-emissionfactor_HDVL_ICE-gas[Gt/EJ]"/>
<entry key="528" type="xstring" value="CO2e-emissionfactor_HDVL_PHEV-diesel[Gt/EJ]"/>
<entry key="529" type="xstring" value="CO2e-emissionfactor_HDVL_PHEV-gasoline[Gt/EJ]"/>
<entry key="530" type="xstring" value="CO2e-emissionfactor_HDVL_CEV[Gt/EJ]"/>
<entry key="531" type="xstring" value="CO2e-emissionfactor_HDVL_FCEV[Gt/EJ]"/>
<entry key="532" type="xstring" value="CO2e-emissionfactor_HDVL_BEV[Gt/EJ]"/>
<entry key="533" type="xstring" value="CO2e-emissionfactor_HDVM_ICE-diesel[Gt/EJ]"/>
<entry key="534" type="xstring" value="CO2e-emissionfactor_HDVM_ICE-gasoline[Gt/EJ]"/>
<entry key="535" type="xstring" value="CO2e-emissionfactor_HDVM_ICE-gas[Gt/EJ]"/>
<entry key="536" type="xstring" value="CO2e-emissionfactor_HDVM_PHEV-diesel[Gt/EJ]"/>
<entry key="537" type="xstring" value="CO2e-emissionfactor_HDVM_PHEV-gasoline[Gt/EJ]"/>
<entry key="538" type="xstring" value="CO2e-emissionfactor_HDVM_CEV[Gt/EJ]"/>
<entry key="539" type="xstring" value="CO2e-emissionfactor_HDVM_FCEV[Gt/EJ]"/>
<entry key="540" type="xstring" value="CO2e-emissionfactor_HDVM_BEV[Gt/EJ]"/>
<entry key="541" type="xstring" value="CO2e-emissionfactor_HDVH_ICE-diesel[Gt/EJ]"/>
<entry key="542" type="xstring" value="CO2e-emissionfactor_HDVH_ICE-gasoline[Gt/EJ]"/>
<entry key="543" type="xstring" value="CO2e-emissionfactor_HDVH_ICE-gas[Gt/EJ]"/>
<entry key="544" type="xstring" value="CO2e-emissionfactor_HDVH_PHEV-diesel[Gt/EJ]"/>
<entry key="545" type="xstring" value="CO2e-emissionfactor_HDVH_PHEV-gasoline[Gt/EJ]"/>
<entry key="546" type="xstring" value="CO2e-emissionfactor_HDVH_CEV[Gt/EJ]"/>
<entry key="547" type="xstring" value="CO2e-emissionfactor_HDVH_FCEV[Gt/EJ]"/>
<entry key="548" type="xstring" value="CO2e-emissionfactor_HDVH_BEV[Gt/EJ]"/>
<entry key="549" type="xstring" value="CO2e-emissionfactor_rail_ICE[Gt/EJ]"/>
<entry key="550" type="xstring" value="CO2e-emissionfactor_marine_ICE[Gt/EJ]"/>
<entry key="551" type="xstring" value="CO2e-emissionfactor_IWW_ICE[Gt/EJ]"/>
<entry key="552" type="xstring" value="CO2e-emissionfactor_aviation_ICE[Gt/EJ]"/>
<entry key="553" type="xstring" value="CO2e-emissionfactor_rail_CEV[Gt/EJ]"/>
<entry key="554" type="xstring" value="CO2e-emissionfactor_metro-tram[Gt/EJ]"/>
<entry key="555" type="xstring" value="CO2e-emissionfactor_rail_FCEV[Gt/EJ]"/>
<entry key="556" type="xstring" value="CO2e-emissionfactor_marine_BEV[Gt/EJ]"/>
<entry key="557" type="xstring" value="CO2e-emissionfactor_IWW_BEV[Gt/EJ]"/>
<entry key="558" type="xstring" value="CO2e-emissionfactor_aviation_BEV[Gt/EJ]"/>
<entry key="559" type="xstring" value="CO2e-emissionfactor_marine_FCEV[Gt/EJ]"/>
<entry key="560" type="xstring" value="CO2e-emissionfactor_IWW_FCEV[Gt/EJ]"/>
<entry key="561" type="xstring" value="CO2e-emissionfactor_LDV_ICE-diesel[Gt/EJ]"/>
<entry key="562" type="xstring" value="CO2e-emissionfactor_LDV_ICE-gasoline[Gt/EJ]"/>
<entry key="563" type="xstring" value="CO2e-emissionfactor_LDV_ICE-gas[Gt/EJ]"/>
<entry key="564" type="xstring" value="CO2e-emissionfactor_LDV_PHEV-diesel[Gt/EJ]"/>
<entry key="565" type="xstring" value="CO2e-emissionfactor_LDV_PHEV-gasoline[Gt/EJ]"/>
<entry key="566" type="xstring" value="CO2e-emissionfactor_Unnamed: 42[Gt/EJ]"/>
<entry key="567" type="xstring" value="CO2e-emissionfactor_LDV_FCEV[Gt/EJ]"/>
<entry key="568" type="xstring" value="CO2e-emissionfactor_LDV_BEV[Gt/EJ]"/>
<entry key="569" type="xstring" value="CO2e-emissionfactor_2W_ICE-diesel[Gt/EJ]"/>
<entry key="570" type="xstring" value="CO2e-emissionfactor_2W_ICE-gasoline[Gt/EJ]"/>
<entry key="571" type="xstring" value="CO2e-emissionfactor_2W_ICE-gas[Gt/EJ]"/>
<entry key="572" type="xstring" value="CO2e-emissionfactor_2W_PHEV[Gt/EJ]"/>
<entry key="573" type="xstring" value="CO2e-emissionfactor_2W_FCEV[Gt/EJ]"/>
<entry key="574" type="xstring" value="CO2e-emissionfactor_2W_BEV[Gt/EJ]"/>
<entry key="575" type="xstring" value="CO2e-emissionfactor_bus_ICE-diesel[Gt/EJ]"/>
<entry key="576" type="xstring" value="CO2e-emissionfactor_bus_ICE-gasoline[Gt/EJ]"/>
<entry key="577" type="xstring" value="CO2e-emissionfactor_bus_ICE-gas[Gt/EJ]"/>
<entry key="578" type="xstring" value="CO2e-emissionfactor_bus_PHEV[Gt/EJ]"/>
<entry key="579" type="xstring" value="CO2e-emissionfactor_bus_FCEV[Gt/EJ]"/>
<entry key="580" type="xstring" value="CO2e-emissionfactor_bus_BEV[Gt/EJ]"/>
<entry key="581" type="xstring" value="knime.workspace"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="region-share_energy((?!.*unit.*$).)*"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Adding %%00013%%00010regions_shares%%00013%%00010energy"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="687"/>
<entry key="y-coordinate" type="xint" value="1139"/>
<entry key="width" type="xint" value="106"/>
<entry key="height" type="xint" value="45"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.flowvariable.appendvariabletotable2.AppendVariableToTable2NodeFactory"/>
<entry key="node-name" type="xstring" value="Variable to Table Column"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904170949"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Variable to Table Column"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 33, Cols: 46"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="2e755e16-5a42-4e9b-bf2e-1d3acb863eee"/>
</config>
</config>
