<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="57"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="wat_water-factor_houshold[m3/capita]"/>
<entry key="3" type="xstring" value="wat_water-factor_irrigation_fruit[m3/kcal]"/>
<entry key="4" type="xstring" value="wat_water-factor_irrigation_sugarcrop[m3/kcal]"/>
<entry key="5" type="xstring" value="wat_water-factor_irrigation_veg[m3/kcal]"/>
<entry key="6" type="xstring" value="wat_water-factor_irrigation_cereal[m3/kcal]"/>
<entry key="7" type="xstring" value="wat_water-factor_irrigation_oilcrop[m3/kcal]"/>
<entry key="8" type="xstring" value="wat_water-factor_irrigation_pulse[m3/kcal]"/>
<entry key="9" type="xstring" value="wat_water-factor_irrigation_starch[m3/kcal]"/>
<entry key="10" type="xstring" value="wat_water-factor_industry_steel[m3/ton]"/>
<entry key="11" type="xstring" value="wat_water-factor_industry_cement[m3/ton]"/>
<entry key="12" type="xstring" value="wat_water-factor_industry_paper_woodpulp[m3/ton]"/>
<entry key="13" type="xstring" value="wat_water-factor_industry_paper_recycled[m3/ton]"/>
<entry key="14" type="xstring" value="wat_water-factor_industry_chem[m3/ton]"/>
<entry key="15" type="xstring" value="wat_water-factor_industry_ammonia[m3/ton]"/>
<entry key="16" type="xstring" value="wat_water-factor_industry_alu_primary[m3/ton]"/>
<entry key="17" type="xstring" value="wat_water-factor_industry_alu_secondary[m3/ton]"/>
<entry key="18" type="xstring" value="wat_water-factor_industry_lime[m3/ton]"/>
<entry key="19" type="xstring" value="wat_water-factor_industry_glass[m3/ton]"/>
<entry key="20" type="xstring" value="wat_leakage-factor_household[%]"/>
<entry key="21" type="xstring" value="wat_consumptive-factor_household[%]"/>
<entry key="22" type="xstring" value="wat_blue-water-share_livestock[%]"/>
<entry key="23" type="xstring" value="wat_drinking-water-share_livestock[%]"/>
<entry key="24" type="xstring" value="wat_consumptive-factor_livestock[%]"/>
<entry key="25" type="xstring" value="wat_irrigation-efficiency_irrigation[%]"/>
<entry key="26" type="xstring" value="wat_irrigation-margin-factor_irrigation[%]"/>
<entry key="27" type="xstring" value="wat_irrigation-conv-loss_irrigation[%]"/>
<entry key="28" type="xstring" value="wat_technology-share_coal_1thru-sea[%]"/>
<entry key="29" type="xstring" value="wat_technology-share_oil_1thru-sea[%]"/>
<entry key="30" type="xstring" value="wat_technology-share_gas_1thru-sea[%]"/>
<entry key="31" type="xstring" value="wat_technology-share_nuclear_1thru-sea[%]"/>
<entry key="32" type="xstring" value="wat_technology-share_biomass_1thru-sea[%]"/>
<entry key="33" type="xstring" value="wat_technology-share_coal_1thru-fresh[%]"/>
<entry key="34" type="xstring" value="wat_technology-share_oil_1thru-fresh[%]"/>
<entry key="35" type="xstring" value="wat_technology-share_gas_1thru-fresh[%]"/>
<entry key="36" type="xstring" value="wat_technology-share_nuclear_1thru-fresh[%]"/>
<entry key="37" type="xstring" value="wat_technology-share_biomass_1thru-fresh[%]"/>
<entry key="38" type="xstring" value="wat_technology-share_coal_WT[%]"/>
<entry key="39" type="xstring" value="wat_technology-share_oil_WT[%]"/>
<entry key="40" type="xstring" value="wat_technology-share_gas_WT[%]"/>
<entry key="41" type="xstring" value="wat_technology-share_nuclear_WT[%]"/>
<entry key="42" type="xstring" value="wat_technology-share_biomass_WT[%]"/>
<entry key="43" type="xstring" value="wat_technology-share_coal_dry[%]"/>
<entry key="44" type="xstring" value="wat_technology-share_oil_dry[%]"/>
<entry key="45" type="xstring" value="wat_technology-share_gas_dry[%]"/>
<entry key="46" type="xstring" value="wat_technology-share_nuclear_dry[%]"/>
<entry key="47" type="xstring" value="wat_technology-share_biomass_dry[%]"/>
<entry key="48" type="xstring" value="wat_consumptive-factor_industry[%]"/>
<entry key="49" type="xstring" value="wat_water-factor_livestock_abp_dairy[m3/lsu]"/>
<entry key="50" type="xstring" value="wat_water-factor_livestock_abp_hens[m3/lsu]"/>
<entry key="51" type="xstring" value="wat_water-factor_livestock_bovine[m3/lsu]"/>
<entry key="52" type="xstring" value="wat_water-factor_livestock_oth[m3/lsu]"/>
<entry key="53" type="xstring" value="wat_water-factor_livestock_pig[m3/lsu]"/>
<entry key="54" type="xstring" value="wat_water-factor_livestock_poultry[m3/lsu]"/>
<entry key="55" type="xstring" value="wat_water-factor_livestock_sheep[m3/lsu]"/>
<entry key="56" type="xstring" value="lfs_pop_population[inhabitants]"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="76"/>
<entry key="0" type="xstring" value="wat_water-man_agr-wat-factor_food_starch[m3/#]"/>
<entry key="1" type="xstring" value="wat_water-man_ind-wat-factor_steel[m3/#]"/>
<entry key="2" type="xstring" value="wat_water-man_ind-wat-factor_cement[m3/#]"/>
<entry key="3" type="xstring" value="wat_water-man_ind-wat-factor_paper_woodpulp[m3/#]"/>
<entry key="4" type="xstring" value="wat_water-man_ind-wat-factor_paper_recycled[m3/#]"/>
<entry key="5" type="xstring" value="wat_water-man_ind-wat-factor_chem[m3/#]"/>
<entry key="6" type="xstring" value="wat_water-man_ind-wat-factor_ammonia[m3/#]"/>
<entry key="7" type="xstring" value="wat_water-man_ind-wat-factor_alu_primary[m3/#]"/>
<entry key="8" type="xstring" value="wat_water-man_ind-wat-factor_alu_secondary[m3/#]"/>
<entry key="9" type="xstring" value="wat_water-man_ind-wat-factor_lime[m3/#]"/>
<entry key="10" type="xstring" value="wat_water-man_ind-wat-factor_glass[m3/#]"/>
<entry key="11" type="xstring" value="wat_fixed-assumptions_liv-blue-factor[%]"/>
<entry key="12" type="xstring" value="wat_fixed-assumptions_liv-consumptive-factor[%]"/>
<entry key="13" type="xstring" value="wat_fixed-assumptions_irrigation-share[%]"/>
<entry key="14" type="xstring" value="wat_fixed-assumptions_irrigation-margin-factor[%]"/>
<entry key="15" type="xstring" value="wat_fixed-assumptions_irr_tech-eff_surface[%]"/>
<entry key="16" type="xstring" value="wat_fixed-assumptions_irr_conv-eff_surface[%]"/>
<entry key="17" type="xstring" value="wat_fixed-assumptions_irr_tech-eff_sprinkler[%]"/>
<entry key="18" type="xstring" value="wat_fixed-assumptions_irr_conv-eff_sprinkler[%]"/>
<entry key="19" type="xstring" value="wat_fixed-assumptions_irr_tech-eff_drip[%]"/>
<entry key="20" type="xstring" value="wat_fixed-assumptions_irr_conv-eff_drip[%]"/>
<entry key="21" type="xstring" value="wat_fixed-assumptions_tech-share-irrig_surface[%]"/>
<entry key="22" type="xstring" value="wat_fixed-assumptions_tech-share-irrig_sprinkler[%]"/>
<entry key="23" type="xstring" value="wat_fixed-assumptions_tech-share-irrig_drip[%]"/>
<entry key="24" type="xstring" value="wat_fixed-assumptions_tech-share_coal_1thru-sea[%]"/>
<entry key="25" type="xstring" value="wat_fixed-assumptions_tech-share_oil_1thru-sea[%]"/>
<entry key="26" type="xstring" value="wat_fixed-assumptions_tech-share_gas_1thru-sea[%]"/>
<entry key="27" type="xstring" value="wat_fixed-assumptions_tech-share_nuclear_1thru-sea[%]"/>
<entry key="28" type="xstring" value="wat_fixed-assumptions_tech-share_biomass_1thru-sea[%]"/>
<entry key="29" type="xstring" value="wat_fixed-assumptions_tech-share_coal_1thru-fresh[%]"/>
<entry key="30" type="xstring" value="wat_fixed-assumptions_tech-share_oil_1thru-fresh[%]"/>
<entry key="31" type="xstring" value="wat_fixed-assumptions_tech-share_gas_1thru-fresh[%]"/>
<entry key="32" type="xstring" value="wat_fixed-assumptions_tech-share_nuclear_1thru-fresh[%]"/>
<entry key="33" type="xstring" value="wat_fixed-assumptions_tech-share_biomass_1thru-fresh[%]"/>
<entry key="34" type="xstring" value="wat_fixed-assumptions_tech-share_coal_WT[%]"/>
<entry key="35" type="xstring" value="wat_fixed-assumptions_tech-share_oil_WT[%]"/>
<entry key="36" type="xstring" value="wat_fixed-assumptions_tech-share_gas_WT[%]"/>
<entry key="37" type="xstring" value="wat_fixed-assumptions_tech-share_nuclear_WT[%]"/>
<entry key="38" type="xstring" value="wat_fixed-assumptions_tech-share_biomass_WT[%]"/>
<entry key="39" type="xstring" value="wat_fixed-assumptions_tech-share_coal_dry[%]"/>
<entry key="40" type="xstring" value="wat_fixed-assumptions_tech-share_oil_dry[%]"/>
<entry key="41" type="xstring" value="wat_fixed-assumptions_tech-share_gas_dry[%]"/>
<entry key="42" type="xstring" value="wat_fixed-assumptions_tech-share_nuclear_dry[%]"/>
<entry key="43" type="xstring" value="wat_fixed-assumptions_tech-share_biomass_dry[%]"/>
<entry key="44" type="xstring" value="wat_fixed-assumptions_ind-consumptive-factor[%]"/>
<entry key="45" type="xstring" value="wat_water-man_agr-wat-factor_food_fruits[m3/#]"/>
<entry key="46" type="xstring" value="wat_water-man_agr-wat-factor_food_sugarcrops[m3/#]"/>
<entry key="47" type="xstring" value="wat_water-man_agr-wat-factor_food_veg[m3/#]"/>
<entry key="48" type="xstring" value="wat_water-man_agr-wat-factor_food_cereals[m3/#]"/>
<entry key="49" type="xstring" value="wat_water-man_agr-wat-factor_food_oilcrops[m3/#]"/>
<entry key="50" type="xstring" value="wat_water-man_agr-wat-factor_food_pulses[m3/#]"/>
<entry key="51" type="xstring" value="wat_water-man_agr-wat-factor_food_voil[m3/#]"/>
<entry key="52" type="xstring" value="wat_water-man_agr-wat-factor_feed_cereals[m3/#]"/>
<entry key="53" type="xstring" value="wat_water-man_agr-wat-factor_feed_oilcrops[m3/#]"/>
<entry key="54" type="xstring" value="wat_water-man_agr-wat-factor_feed_barley[m3/#]"/>
<entry key="55" type="xstring" value="wat_water-man_agr-wat-factor_feed_cake[m3/#]"/>
<entry key="56" type="xstring" value="wat_water-man_agr-wat-factor_feed_maize[m3/#]"/>
<entry key="57" type="xstring" value="wat_water-man_agr-wat-factor_feed_oats[m3/#]"/>
<entry key="58" type="xstring" value="wat_water-man_agr-wat-factor_feed_rye[m3/#]"/>
<entry key="59" type="xstring" value="wat_water-man_agr-wat-factor_feed_wheat[m3/#]"/>
<entry key="60" type="xstring" value="wat_water-man_agr-wat-factor_feed_starch[m3/#]"/>
<entry key="61" type="xstring" value="wat_water-man_agr-wat-factor_feed_sugarcrops[m3/#]"/>
<entry key="62" type="xstring" value="wat_water-man_agr-wat-factor_feed_voil[m3/#]"/>
<entry key="63" type="xstring" value="wat_water-man_agr-wat-factor_feed_pulses[m3/#]"/>
<entry key="64" type="xstring" value="wat_water-man_agr-wat-factor_liv_bov[m3/#]"/>
<entry key="65" type="xstring" value="wat_water-man_agr-wat-factor_liv_dairy[m3/#]"/>
<entry key="66" type="xstring" value="wat_water-man_agr-wat-factor_liv_pigs[m3/#]"/>
<entry key="67" type="xstring" value="wat_water-man_agr-wat-factor_liv_sheep[m3/#]"/>
<entry key="68" type="xstring" value="wat_water-man_agr-wat-factor_liv_poultry[m3/#]"/>
<entry key="69" type="xstring" value="wat_water-man_agr-wat-factor_liv_hens[m3/#]"/>
<entry key="70" type="xstring" value="wat_water-man_agr-wat-factor_liv_oth-animals[m3/#]"/>
<entry key="71" type="xstring" value="wat_water-man_agr-wat-factor_bioen_cereals[m3/#]"/>
<entry key="72" type="xstring" value="wat_water-man_agr-wat-factor_bioen_oilcrops[m3/#]"/>
<entry key="73" type="xstring" value="wat_water-man_tech-share-irrig_surface[m3/#]"/>
<entry key="74" type="xstring" value="wat_water-man_tech-share-irrig_sprinkler[m3/#]"/>
<entry key="75" type="xstring" value="wat_water-man_tech-share-irrig_drip[m3/#]"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="wat_water-factor_hous.*|wat_leakage-factor.*|wat_consumptive-factor_house.*|Years|Country|lfs_pop_population.*"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Filter%%00013%%00010household related%%00013%%00010variables"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="767"/>
<entry key="y-coordinate" type="xint" value="299"/>
<entry key="width" type="xint" value="106"/>
<entry key="height" type="xint" value="45"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904170949"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 6"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="624a1046-5db2-48ad-8e70-144c050e1c97"/>
</config>
</config>
