<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="ColumnOrder">
<entry key="array-size" type="xint" value="127"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="bld_capex_comp[MEUR]"/>
<entry key="3" type="xstring" value="bld_capex_dishwasher[MEUR]"/>
<entry key="4" type="xstring" value="bld_capex_dryer[MEUR]"/>
<entry key="5" type="xstring" value="bld_capex_freezer[MEUR]"/>
<entry key="6" type="xstring" value="bld_capex_fridge[MEUR]"/>
<entry key="7" type="xstring" value="bld_capex_phone[MEUR]"/>
<entry key="8" type="xstring" value="bld_capex_tv[MEUR]"/>
<entry key="9" type="xstring" value="bld_capex_wmachine[MEUR]"/>
<entry key="10" type="xstring" value="bld_capex_reno-dep-sfh[MEUR]"/>
<entry key="11" type="xstring" value="bld_capex_reno-dep-mfh[MEUR]"/>
<entry key="12" type="xstring" value="bld_capex_reno-dep-off_education[MEUR]"/>
<entry key="13" type="xstring" value="bld_capex_reno-dep-off_health[MEUR]"/>
<entry key="14" type="xstring" value="bld_capex_reno-dep-off_hotels[MEUR]"/>
<entry key="15" type="xstring" value="bld_capex_reno-dep-off_offices[MEUR]"/>
<entry key="16" type="xstring" value="bld_capex_reno-dep-off_other[MEUR]"/>
<entry key="17" type="xstring" value="bld_capex_reno-dep-off_trade[MEUR]"/>
<entry key="18" type="xstring" value="bld_capex_reno-med-sfh[MEUR]"/>
<entry key="19" type="xstring" value="bld_capex_reno-med-mfh[MEUR]"/>
<entry key="20" type="xstring" value="bld_capex_reno-med-off_education[MEUR]"/>
<entry key="21" type="xstring" value="bld_capex_reno-med-off_health[MEUR]"/>
<entry key="22" type="xstring" value="bld_capex_reno-med-off_hotels[MEUR]"/>
<entry key="23" type="xstring" value="bld_capex_reno-med-off_offices[MEUR]"/>
<entry key="24" type="xstring" value="bld_capex_reno-med-off_other[MEUR]"/>
<entry key="25" type="xstring" value="bld_capex_reno-med-off_trade[MEUR]"/>
<entry key="26" type="xstring" value="bld_capex_reno-shl-sfh[MEUR]"/>
<entry key="27" type="xstring" value="bld_capex_reno-shl-mfh[MEUR]"/>
<entry key="28" type="xstring" value="bld_capex_reno-shl-off_education[MEUR]"/>
<entry key="29" type="xstring" value="bld_capex_reno-shl-off_health[MEUR]"/>
<entry key="30" type="xstring" value="bld_capex_reno-shl-off_hotels[MEUR]"/>
<entry key="31" type="xstring" value="bld_capex_reno-shl-off_offices[MEUR]"/>
<entry key="32" type="xstring" value="bld_capex_reno-shl-off_other[MEUR]"/>
<entry key="33" type="xstring" value="bld_capex_reno-shl-off_trade[MEUR]"/>
<entry key="34" type="xstring" value="bld_capex_reno_sfh[MEUR]"/>
<entry key="35" type="xstring" value="bld_capex_reno_mfh[MEUR]"/>
<entry key="36" type="xstring" value="bld_capex_reno_off_education[MEUR]"/>
<entry key="37" type="xstring" value="bld_capex_reno_off_health[MEUR]"/>
<entry key="38" type="xstring" value="bld_capex_reno_off_hotels[MEUR]"/>
<entry key="39" type="xstring" value="bld_capex_reno_off_offices[MEUR]"/>
<entry key="40" type="xstring" value="bld_capex_reno_off_other[MEUR]"/>
<entry key="41" type="xstring" value="bld_capex_reno_off_trade[MEUR]"/>
<entry key="42" type="xstring" value="bld_capex_reno_dep[MEUR]"/>
<entry key="43" type="xstring" value="bld_capex_reno_med[MEUR]"/>
<entry key="44" type="xstring" value="bld_capex_reno_shl[MEUR]"/>
<entry key="45" type="xstring" value="bld_emissions-CH4[Mt]"/>
<entry key="46" type="xstring" value="bld_emissions-CO2[Mt]"/>
<entry key="47" type="xstring" value="bld_emissions-N2O[Mt]"/>
<entry key="48" type="xstring" value="bld_emissions-CO2_non-residential_hot-water[Mt]"/>
<entry key="49" type="xstring" value="bld_emissions-CO2_non-residential_space-cooling[Mt]"/>
<entry key="50" type="xstring" value="bld_emissions-CO2_residential_cooking[Mt]"/>
<entry key="51" type="xstring" value="bld_emissions-CO2_residential_hot-water[Mt]"/>
<entry key="52" type="xstring" value="bld_energy-demand_appliances_electricity[TWh]"/>
<entry key="53" type="xstring" value="bld_energy-demand_heat_electricity[TWh]"/>
<entry key="54" type="xstring" value="bld_energy-demand_heat_gas-ff-natural[TWh]"/>
<entry key="55" type="xstring" value="bld_energy-demand_heat_liquid-ff-heatingoil[TWh]"/>
<entry key="56" type="xstring" value="bld_energy-demand_heat_solid-ff-coal[TWh]"/>
<entry key="57" type="xstring" value="bld_energy-demand_heat_gas-bio[TWh]"/>
<entry key="58" type="xstring" value="bld_energy-demand_heat_liquid-bio[TWh]"/>
<entry key="59" type="xstring" value="bld_energy-demand_heat_solid-bio[TWh]"/>
<entry key="60" type="xstring" value="bld_energy-demand_heat_solid-waste[TWh]"/>
<entry key="61" type="xstring" value="bld_energy-demand_heat_heat-solar[TWh]"/>
<entry key="62" type="xstring" value="bld_energy-demand_heat_heat-ambient[TWh]"/>
<entry key="63" type="xstring" value="bld_energy-demand_heat_heat-geothermal[TWh]"/>
<entry key="64" type="xstring" value="bld_energy-demand_residential_sfh[TWh]"/>
<entry key="65" type="xstring" value="bld_energy-demand_residential_mfh[TWh]"/>
<entry key="66" type="xstring" value="bld_energy-demand_non-residential_education[TWh]"/>
<entry key="67" type="xstring" value="bld_energy-demand_non-residential_health[TWh]"/>
<entry key="68" type="xstring" value="bld_energy-demand_non-residential_hotels[TWh]"/>
<entry key="69" type="xstring" value="bld_energy-demand_non-residential_offices[TWh]"/>
<entry key="70" type="xstring" value="bld_energy-demand_non-residential_other[TWh]"/>
<entry key="71" type="xstring" value="bld_energy-demand_non-residential_trade[TWh]"/>
<entry key="72" type="xstring" value="bld_floor-area_residential_sfh[million_m2]"/>
<entry key="73" type="xstring" value="bld_floor-area_residential_mfh[million_m2]"/>
<entry key="74" type="xstring" value="bld_floor-area_non-residential_education[million_m2]"/>
<entry key="75" type="xstring" value="bld_floor-area_non-residential_health[million_m2]"/>
<entry key="76" type="xstring" value="bld_floor-area_non-residential_hotels[million_m2]"/>
<entry key="77" type="xstring" value="bld_floor-area_non-residential_offices[million_m2]"/>
<entry key="78" type="xstring" value="bld_floor-area_non-residential_other[million_m2]"/>
<entry key="79" type="xstring" value="bld_floor-area_non-residential_trade[million_m2]"/>
<entry key="80" type="xstring" value="bld_floor-area-constructed_dep[million_m2]"/>
<entry key="81" type="xstring" value="bld_floor-area-constructed_med[million_m2]"/>
<entry key="82" type="xstring" value="bld_floor-area-constructed_shl[million_m2]"/>
<entry key="83" type="xstring" value="bld_floor-area-demolished_dep[million_m2]"/>
<entry key="84" type="xstring" value="bld_floor-area-demolished_exi[million_m2]"/>
<entry key="85" type="xstring" value="bld_floor-area-demolished_med[million_m2]"/>
<entry key="86" type="xstring" value="bld_floor-area-demolished_shl[million_m2]"/>
<entry key="87" type="xstring" value="bld_floor-area-renovated_dep[million_m2]"/>
<entry key="88" type="xstring" value="bld_floor-area-renovated_med[million_m2]"/>
<entry key="89" type="xstring" value="bld_floor-area-renovated_shl[million_m2]"/>
<entry key="90" type="xstring" value="bld_floor-area-unrenovated_exi[million_m2]"/>
<entry key="91" type="xstring" value="bld_floor-area-demolished-pos[million_m2]"/>
<entry key="92" type="xstring" value="bld_floor-area[million_m2]"/>
<entry key="93" type="xstring" value="bld_energy-need_constructed_dep[TWh]"/>
<entry key="94" type="xstring" value="bld_energy-need_constructed_med[TWh]"/>
<entry key="95" type="xstring" value="bld_energy-need_constructed_shl[TWh]"/>
<entry key="96" type="xstring" value="bld_energy-need_renovated_dep[TWh]"/>
<entry key="97" type="xstring" value="bld_energy-need_renovated_med[TWh]"/>
<entry key="98" type="xstring" value="bld_energy-need_renovated_shl[TWh]"/>
<entry key="99" type="xstring" value="bld_energy-need_unrenovated_exi[TWh]"/>
<entry key="100" type="xstring" value="bld_energy-demand_constructed_dep[TWh]"/>
<entry key="101" type="xstring" value="bld_energy-demand_constructed_med[TWh]"/>
<entry key="102" type="xstring" value="bld_energy-demand_constructed_shl[TWh]"/>
<entry key="103" type="xstring" value="bld_energy-demand_renovated_dep[TWh]"/>
<entry key="104" type="xstring" value="bld_energy-demand_renovated_med[TWh]"/>
<entry key="105" type="xstring" value="bld_energy-demand_renovated_shl[TWh]"/>
<entry key="106" type="xstring" value="bld_energy-demand_unrenovated_exi[TWh]"/>
<entry key="107" type="xstring" value="bld_energy-demand_lighting_electricity[TWh]"/>
<entry key="108" type="xstring" value="bld_energy-demand_cooking_electricity[TWh]"/>
<entry key="109" type="xstring" value="bld_energy-demand_space-cooling_electricity[TWh]"/>
<entry key="110" type="xstring" value="bld_energy-demand_hot-water_electricity[TWh]"/>
<entry key="111" type="xstring" value="&lt;any unknown new column&gt;"/>
<entry key="112" type="xstring" value="bld_energy-demand_non-elec_cooking[TWh]"/>
<entry key="113" type="xstring" value="bld_energy-demand_non-elec_hot-water[TWh]"/>
<entry key="114" type="xstring" value="bld_energy-demand_non-elec_space-cooling[TWh]"/>
<entry key="115" type="xstring" value="bld_energy-demand_non-sh_gas-bio[TWh]"/>
<entry key="116" type="xstring" value="bld_energy-demand_non-sh_gas-ff-natural[TWh]"/>
<entry key="117" type="xstring" value="bld_energy-demand_non-sh_heat-ambient[TWh]"/>
<entry key="118" type="xstring" value="bld_energy-demand_non-sh_heat-geothermal[TWh]"/>
<entry key="119" type="xstring" value="bld_energy-demand_non-sh_heat-solar[TWh]"/>
<entry key="120" type="xstring" value="bld_energy-demand_non-sh_liquid-bio-diesel[TWh]"/>
<entry key="121" type="xstring" value="bld_energy-demand_non-sh_liquid-bio-gasoline[TWh]"/>
<entry key="122" type="xstring" value="bld_energy-demand_non-sh_liquid-ff-heatingoil[TWh]"/>
<entry key="123" type="xstring" value="bld_energy-demand_non-sh_solid-bio[TWh]"/>
<entry key="124" type="xstring" value="bld_energy-demand_non-sh_solid-ff-coal[TWh]"/>
<entry key="125" type="xstring" value="bld_energy-demand_non-sh_solid-waste[TWh]"/>
<entry key="126" type="xstring" value="bld_energy-demand_non-sh_renewables[TWh]"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.columnresorter.ColumnResorterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Resorter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.2.v201904170949"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.2.v201904171038"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Resorter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 957, Cols: 125"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="dc2fa950-2e18-446c-961f-5a4e1925424d"/>
</config>
</config>
