<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="aggregationColumns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="aggregationColumns">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="12"/>
<entry key="0" type="xstring" value="ots_occupancy_motorbike-urban[passenger/vehicle]"/>
<entry key="1" type="xstring" value="ots_occupancy_train-urban[passenger/vehicle]"/>
<entry key="2" type="xstring" value="ots_occupancy_train-international[passenger/vehicle]"/>
<entry key="3" type="xstring" value="ots_occupancy_plane-international-short[passenger/vehicle]"/>
<entry key="4" type="xstring" value="ots_occupancy_plane-international-long[passenger/vehicle]"/>
<entry key="5" type="xstring" value="ll_occupancy_motorbike-urban[%]"/>
<entry key="6" type="xstring" value="ll_occupancy_train-urban[%]"/>
<entry key="7" type="xstring" value="ll_occupancy_train-international[%]"/>
<entry key="8" type="xstring" value="ll_occupancy_plane-international-long[%]"/>
<entry key="9" type="xstring" value="ll_occupancy_plane-international-short[%]"/>
<entry key="10" type="xstring" value="fts_occupancy_bus-urban[passenger/vehicle]"/>
<entry key="11" type="xstring" value="fts_occupancy_car-urban[passenger/vehicle]"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="15"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="lever_occupancy"/>
<entry key="2" type="xstring" value="Years"/>
<entry key="3" type="xstring" value="scenario_occupancy_motorbike-urban"/>
<entry key="4" type="xstring" value="scenario_occupancy_plane-international-long"/>
<entry key="5" type="xstring" value="scenario_occupancy_plane-international-short"/>
<entry key="6" type="xstring" value="scenario_occupancy_train-international"/>
<entry key="7" type="xstring" value="scenario_occupancy_train-urban"/>
<entry key="8" type="xstring" value="historical_occupancy_motorbike-urban"/>
<entry key="9" type="xstring" value="historical_occupancy_plane-international-long"/>
<entry key="10" type="xstring" value="historical_occupancy_plane-international-short"/>
<entry key="11" type="xstring" value="historical_occupancy_train-international"/>
<entry key="12" type="xstring" value="historical_occupancy_train-urban"/>
<entry key="13" type="xstring" value="scenario_occupancy_car-urban"/>
<entry key="14" type="xstring" value="historical_occupancy_car-urban"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=".*train-urban.*"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
</config>
</config>
</config>
<config key="removeRetainedColumns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="removeRetainedColumns" type="xboolean" value="false"/>
<config key="removeAggregationColumns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="removeAggregationColumns" type="xboolean" value="true"/>
<config key="valueDelimiter_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="valueDelimiter" type="xstring" value=", "/>
<config key="maxNoneNumericalVals_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="maxNoneNumericalVals" type="xint" value="10000"/>
<config key="aggregationMethods">
<config key="resultColName">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="fts_occupancy_train-urban[passenger/vehicle]"/>
</config>
<config key="aggregationMethod">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Product"/>
</config>
<config key="inclMissingVals">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xboolean" value="false"/>
</config>
</config>
<config key="nodeVersion_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeVersion" type="xint" value="1"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.columnaggregator.ColumnAggregatorNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Aggregator"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.5.0.v201712011156"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.5.1.v201712211547"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Aggregator"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 1044, Cols: 14"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="270bc3c0-2f38-467b-979b-055d16c64086"/>
</config>
</config>
